[2022-04-06 06:33] tongchao199 opened #39 "[BUG] Koordinator's priority and qos docs not found"
**What happened**:

* Koordinator's priority and qos docs not found
  - abnormal url address
    https://koordinator.sh/docs/core-concepts/resource-model/priority
    https://koordinator.sh/docs/core-concepts/architecture/qos

    ![image](https://user-images.githubusercontent.com/18660867/161910407-bc5ff6c4-c703-4fd1-8e2f-f70a4d12749b.png)

**What you expected to happen**:

**How to reproduce it

[2022-04-06 06:41] jasonliu747 commented on #39
Hi @tongchao199, thanks for the report. Could you let me know in what page did you find these two links?
The correct links should be:
- https://koordinator.sh/docs/core-concepts/priority
- https://koordinator.sh/docs/core-concepts/qos

[2022-04-06 08:21] cheimu opened #40 "Is there a slack channel or dingtalk group for koordinator?"
Hi community,

I'm new to koordinator and curious about some features about it. Is there a group or community meeting to discuss about it? Seems like this project is in the very early stage of open sourcing. 😄

[2022-04-06 09:19] jasonliu747 commented on #40
@cheimu Yes, you are welcome to join our Dintalk Group. Group num is: **33383887**

[2022-04-07 03:46] MorganMaxg opened #44 "[BUG]README.md LICENSE linked error"
**What happened**:
README.md LICENSE linked error. `LICENSE.md` cannot be found.
**What you expected to happen**:
fix LICENSE.md to LICENSE in README.md
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- App version:
- Kubernetes version (use `kubectl version`):
- Install details (e.g. helm install args):
- Others:

[2022-04-07 05:43] jasonliu747 commented on #44
@MorganMaxg Nice catch! Would you like to submit a PR to fix this?

[2022-04-07 06:34] baxiaoshi opened #45 "project roadmap"
Hi.....

What is the roadmap of the project? When is the scheduler code open source?

[2022-04-07 07:51] MorganMaxg commented on #44
OK

[2022-04-07 07:52] jasonliu747 commented on #44
/assign @MorganMaxg

[2022-04-07 08:29] #44 closed

[2022-04-07 08:55] mrningyang opened #47 "混布调度器部分没有开源吗？"
统一调度器有开源的计划吗？

[2022-04-07 09:19] hormes commented on #47
暂时还没有，在计划中的，我们将在 4 月份晚些的时候公布详细的计划。

[2022-04-07 09:20] hormes commented on #45
Thanks for your attention, we will release a detailed plan later this month.

[2022-04-07 09:23] hormes commented on #40
[join slack](https://join.slack.com/t/koordinator-sh/shared_invite/zt-1756qoub4-Cn4~esfdlfAPsD7cwO2NzA)

[2022-04-07 09:50] hormes commented on #39
Hi @tongchao199, we can't reproduce this issue, do you still have problems there?

[2022-04-07 10:08] cao99 opened #49 "when deploy on ACK 1.18.1 koord-manager pod always crash"
logs of koord-manager pod：
==========================
W0407 10:06:26.017519       1 noderesource.go:234] node koordinator.sh/batch-memory resource diff bigger than 0.1, need sync
W0407 10:06:26.032565       1 noderesource.go:234] node koordinator.sh/batch-memory resource diff bigger than 0.1, need sync
W0407 10:06:30.192036       1 noderesource.go:234] node koordinator.sh/batch-memory resource dif

[2022-04-07 10:12] cao99 commented on #49
192.168.124.1 is the svc kubernetes in default namespace.

[2022-04-07 12:28] jasonliu747 commented on #49
/assign @eahydra

[2022-04-07 13:01] jasonliu747 commented on #49
@cao99 Hi, NodeSLO CRD was missing earlier, it shoud be fixed now.
Please reinstall Koordinator using Helm with the latest chart and let us know if this issue is not resolved.

[2022-04-07 13:29] eahydra commented on #49
@cao99 Hi, thanks for the feedback. The issue has been fixed, please reinstall the koordinator with latest charts.

[2022-04-07 13:39] Mr-Linus opened #50 "[feature request] Add HasSynced function to replace the sleep function"
**What would you like to be added**:

Koordlet starts so slow.

**Why is this needed**:

improve the performances.

[2022-04-08 03:34] zwzhang0107 opened #52 "[feature request] add cpu burst strategy"
**What would you like to be added**:

**Why is this needed**:

[2022-04-08 03:36] zwzhang0107 commented on #52
/assign stormgbs

[2022-04-08 03:37] zwzhang0107 opened #53 "[feature request] set cgroup value by batch-request/limit for BE pod"
**What would you like to be added**:

**Why is this needed**:

[2022-04-08 03:45] zwzhang0107 commented on #53
/assign jasonliu747

[2022-04-08 03:49] zwzhang0107 opened #54 "[feature request] add memory evict strategy in koordlet"
**What would you like to be added**:

**Why is this needed**:

[2022-04-08 03:49] zwzhang0107 commented on #54
/assign jasonliu747

[2022-04-08 03:49] cao99 commented on #49
![image](https://user-images.githubusercontent.com/39616902/162358885-e69fdc25-eec6-4927-907e-88d7db33b040.png)
after update NodeSLO CRD created，but meet the same error in logs

[2022-04-08 03:50] zwzhang0107 opened #55 "[feature request] supports memory qos strategy"
**What would you like to be added**:

**Why is this needed**:

[2022-04-08 03:50] zwzhang0107 commented on #55
/assign jasonliu747

[2022-04-08 03:51] zwzhang0107 opened #56 "[feature request] add LLC and MBA isolation stragegy"
**What would you like to be added**:

**Why is this needed**:

[2022-04-08 03:51] zwzhang0107 commented on #56
/assign jasonliu747

[2022-04-08 03:55] zwzhang0107 opened #57 "[feature request] design of runtime hooks"
**What would you like to be added**:

**Why is this needed**:

[2022-04-08 03:55] zwzhang0107 commented on #57
/assign me

[2022-04-08 03:56] zwzhang0107 commented on #57
/assign zwzhang0107

[2022-04-08 04:02] zwzhang0107 opened #58 "[feature request] design of qos-plugin-manager"
**What would you like to be added**:
Add a new module for koordlet, which provides a general framework to manage QoS strategy.

**Why is this needed**:

[2022-04-08 04:03] zwzhang0107 commented on #58
/assign stormgbs

[2022-04-08 04:03] zwzhang0107 commented on #58
/assign zwzhang0107

[2022-04-08 04:04] eahydra commented on #49
It doesn't look like it's installed correctly. Please uninstall and force update the chart package and install it again.
If installed correctly, there is CRD named `nodeslos.slo.koordinator.sh` in cluster.

[2022-04-08 04:13] zwzhang0107 opened #59 "[feature request] design doc of koordlet"
**What would you like to be added**:

**Why is this needed**:

[2022-04-08 04:13] zwzhang0107 commented on #59
/documentation

[2022-04-08 04:14] zwzhang0107 commented on #59
/label documentation

[2022-04-08 04:15] zwzhang0107 commented on #59
/assign zwzhang0107

[2022-04-08 06:36] cao99 commented on #49
after reinstall working now！

[2022-04-08 06:38] #49 closed

[2022-04-08 06:38] cao99 commented on #49
after reinstall working now！thks ！

[2022-04-08 08:11] jasonliu747 opened #60 "[BUG] Typo in Nginx image tag"
**What happened**:
There is a typo in image tag
https://github.com/koordinator-sh/koordinator/blob/d2d04906b737e85bf3b0299839ea6e7b649ea737/examples/nginx/nginx.yaml#L20

**What you expected to happen**:
nginx:v1.18-koord-exmaple  -> nginx:v1.18-koord-**example**

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- App version:

[2022-04-08 08:19] jasonliu747 commented on #60
/assign

[2022-04-08 08:21] zwzhang0107 commented on #52
/label area/koordlet

[2022-04-08 08:22] zwzhang0107 commented on #52
/area koordlet

[2022-04-08 08:23] zwzhang0107 commented on #52
/area koord-manager

[2022-04-08 08:23] zwzhang0107 commented on #53
/area koordlet

[2022-04-08 08:23] zwzhang0107 commented on #54
/area koordlet
/area koord-manager

[2022-04-08 08:24] zwzhang0107 commented on #56
/area koordlet
/area koord-manager

[2022-04-08 08:29] zwzhang0107 commented on #57
/area koordlet

[2022-04-08 08:30] zwzhang0107 commented on #58
/area koordlet

[2022-04-08 08:30] zwzhang0107 commented on #59
/documentation

[2022-04-08 08:34] jasonliu747 commented on #44
/documentation

[2022-04-08 08:34] jasonliu747 commented on #44
/label documentation

[2022-04-08 09:20] honpey opened #62 "[feature request] protocol design between runtime-manager and hook server"
**What would you like to be [added**:]()

**Why is this needed**:

@honpey

[2022-04-08 09:37] honpey commented on #62
/assign $honpey

[2022-04-08 09:41] hormes commented on #56
Do it together with the runtime hook manager.

[2022-04-08 09:43] hormes commented on #62
/area runtime

[2022-04-08 09:44] hormes commented on #50
/area koordlet

[2022-04-08 09:44] hormes commented on #40
/close

[2022-04-08 09:44] #40 closed

[2022-04-08 09:46] hormes commented on #45
@baxiaoshi Now you can see the project plan in milestones.

[2022-04-08 10:14] honpey commented on #57
/area runtime

[2022-04-08 10:55] honpey opened #63 "[feature request] runtime-manager cri-proxy"
**What would you like to be added**:

**Why is this needed**:

[2022-04-08 10:56] honpey commented on #63
/assign $ZYecho

[2022-04-08 10:56] honpey commented on #63
/assign $honpey

[2022-04-08 10:57] honpey commented on #63
/assign honpey

[2022-04-08 10:57] honpey opened #64 "[feature request] runtime-manager docker proxy"
**What would you like to be added**:

**Why is this needed**:

[2022-04-08 10:57] honpey commented on #64
/assign ZYecho

[2022-04-08 11:00] honpey commented on #63
/area runtime

[2022-04-08 12:24] #60 closed

[2022-04-09 06:26] ZYecho commented on #64
/assign

[2022-04-11 09:35] hormes commented on #47
/close

[2022-04-11 09:35] #47 closed

[2022-04-12 02:31] jasonliu747 opened #66 "[feature request] support running tensorflow"
**What would you like to be added**:
Right now, there is an example for Spark job. Could you also add an example for running tensorflow in colocation mode? Many thanks.

**Why is this needed**:

[2022-04-12 02:55] zwzhang0107 commented on #53
extend resource requires request==limit, so we should support `limit.batch-cpu` and `limit.batch-memory` on annotation field.
cc @jasonliu747

[2022-04-12 04:11] hormes commented on #66
cool, we desperately need practice like this.

[2022-04-13 03:43] #50 closed

[2022-04-13 06:02] #54 closed

[2022-04-13 06:35] jasonliu747 commented on #53
noted, thanks.

[2022-04-13 07:00] jasonliu747 opened #69 "[BUG] lack of unit, integration and functional test"
**What you expected to happen**:
Right now, there are only few tests for each function. More tests for this project are needed.

![image](https://user-images.githubusercontent.com/24452340/163156093-b426cc13-a204-484e-84f3-58927005b6d7.png)

[2022-04-14 08:06] jasonliu747 opened #71 "[feature request] add staticcheck in ci pipeline"
**Why is this needed**:
staticcheck is a state of the art linter for the Go programming language. Using static analysis, it finds bugs and performance issues, offers simplifications, and enforces style rules.

[2022-04-14 08:07] jasonliu747 commented on #71
/assign

[2022-04-14 09:00] #71 closed

[2022-04-15 02:20] jasonliu747 opened #75 "[BUG] CI pipeline is not efficient and w/o codecov"
**What happened**:
Sometimes it took about **6 mins** to complete all CI check, it's unacceptable.

**What you expected to happen**:
![image](https://user-images.githubusercontent.com/24452340/163507506-ed12ef52-9dad-4bc2-8fdd-dd260bdce381.png)

[2022-04-15 02:20] jasonliu747 commented on #75
/assign

[2022-04-15 05:44] #75 closed

[2022-04-15 05:57] jasonliu747 commented on #69
added code coverage report in #74

[2022-04-15 05:58] jasonliu747 commented on #69
/assign
added code coverage report in #74

[2022-04-16 03:07] jasonliu747 opened #77 "[BUG] data race in states_informer_test.go"
**What happened**:
I ran test with race detection enabled using `go test ./... -race`,  and it would fail with followig errors:
[code]

**Environment**:
- Go version: `go version go1.17.9 darwin/amd64`

[2022-04-16 09:45] jasonliu747 commented on #77
/assign @zwzhang0107

[2022-04-18 06:26] Mr-Linus opened #82 "REQUEST: New membership for Mr-Linus"
### GitHub Username

@Mr-Linus

### Requirements

- [X] I have reviewed the [community membership guidelines](https://github.com/koordinator-sh/koordinator/blob/main/docs/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I am actively contributing to 1 or more Koordinator subprojects
- [X] I have two sponsors that meet th

[2022-04-18 06:26] Mr-Linus commented on #82
/cc @jasonliu747 @hormes

[2022-04-18 06:28] jasonliu747 commented on #82
+1

[2022-04-18 07:30] jasonliu747 opened #83 "[feature request] allow extended resources to be over-committed"
**What would you like to be added**:
According to this PR https://github.com/kubernetes/kubernetes/pull/48922, extend resources could not be over-committed. Is it possible to overcommit `batch-cpu` and `batch-memory` in Koordinator?

**Why is this needed**:

[2022-04-18 07:30] jasonliu747 commented on #83
/area koordlet

[2022-04-18 08:16] zwzhang0107 commented on #83
A structured "protocol" is needed in annotation for multiple containers.

[2022-04-18 08:18] #53 closed

[2022-04-18 13:16] jasonliu747 commented on #59
/close
via #81

[2022-04-18 13:17] #59 closed

[2022-04-18 13:18] jasonliu747 commented on #66
/assign @eahydra

[2022-04-18 13:19] jasonliu747 commented on #66
/assign

[2022-04-19 04:24] hormes commented on #45
/close

[2022-04-19 04:24] #45 closed

[2022-04-19 04:25] hormes commented on #39
It has been fixed, if there is a problem, reopen it

[2022-04-19 04:25] #39 closed

[2022-04-19 11:38] eahydra opened #84 "[BUG] not syncing NodeSLO from configMap slo-controller-config"
**What happened**:
1. Not syncing to NodeSLO after `memoryEvictThresholdPercent` of `resource-threshold-config` in configMap `slo-controller-config`

**What you expected to happen**:
Expect syncing to NodeSLO with `memoryEvictThresholdPercent` of `resource-threshold-config`

**How to reproduce it (as minimally and precisely as possible)**:
1. update configMap `slo-controller-config`
[code]
2.  che

[2022-04-19 11:38] eahydra commented on #84
/assign @jasonliu747

[2022-04-19 11:43] eahydra opened #85 "[feature request] koordlet support memoryEvictLowerPercent field in NodeSLO"
**What happened**:

`memoryEvictLowerPercent` is defined in NodeSLO, but koordlet does not support it.

**What you expected to happen**:

Expect  koordlet supports  `memoryEvictLowerPercent` in NodeSLO

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- App version:
- Kubernetes version (use `kubectl version`):
- Install detai

[2022-04-19 11:43] eahydra commented on #85
/assign @jasonliu747

[2022-04-20 02:21] hormes commented on #82
+1

[2022-04-20 02:21] hormes commented on #82
Welcome to the Koordinator family and look forward to your contributions.

[2022-04-20 02:23] jasonliu747 commented on #82
@Mr-Linus
![image](https://user-images.githubusercontent.com/24452340/164134198-906ca2fb-f7b5-4557-a022-cc8a2cd73e5e.png)

[2022-04-20 03:04] hormes commented on #82
/close

[2022-04-20 03:04] #82 closed

[2022-04-20 04:28] zwzhang0107 commented on #84
seems the NodeSLO crd has not updated in cluster

[2022-04-20 05:50] #84 closed

[2022-04-20 06:19] jasonliu747 commented on #85
@eahydra
![image](https://user-images.githubusercontent.com/24452340/164163110-dc56d9ee-2eb8-4815-8248-d120e42d22a1.png)

[2022-04-20 12:16] hormes commented on #62
#76

[2022-04-20 12:17] #62 closed

[2022-04-20 15:15] chclass opened #89 "[BUG] koordlet pod always CrashLoopBackOff with a painc error"
**What happened**:
koordlet dosen't work when i install it with  helm

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- App version:v0.2.0
- Kubernetes version (use `kubectl version`):Client Version: version.Info{Major:"1", Minor:"22", GitVersion:"v1.22.3", GitCommit:"c92036820499fedefec0f84

[2022-04-21 06:40] hormes commented on #89
/assign zwzhang0107

[2022-04-21 06:46] zwzhang0107 commented on #89
running koordlet is not supported on mini-kube on darwin yet, you can try with a real k8s cluster environment.

[2022-04-21 06:50] zwzhang0107 opened #90 "[BUG] handle unexpected cpu info in case of koordlet panic"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- App version:
- Kubernetes version (use `kubectl version`):
- Install details (e.g. helm install args):
- Others:

[2022-04-21 06:50] zwzhang0107 commented on #90
https://github.com/koordinator-sh/koordinator/issues/89

[2022-04-21 06:51] zwzhang0107 commented on #90
/assign zwzhang0107

[2022-04-25 10:32] saintube commented on #55
i'd like to help with this

[2022-04-25 10:34] jasonliu747 commented on #55
awesome, thanks for your help.
/assign @saintube

[2022-04-26 06:21] eahydra opened #95 "[proposal] scheduler support node load balancing"
**What would you like to be added**:
Support scheduling based on node load. Nodes with low load are allocated first, and when the load reaches a safe threshold, consideration should be given not to continue allocation.

We can also consider supporting the ability of portraits to describe the resource usage of different workloads, and to guide the scheduler to achieve finer load balancing through p

[2022-04-26 06:47] eahydra opened #96 "[proposal] Support fine-grained CPU binding mechanism to improve QoS model"
**What would you like to be added**:
It is necessary to support fine-grained CPU binding mechanisms to improve the QoS model defined by Koordinator: LSE and LSR.

LSE and LSR simply require that cores must be bound and decide whether to share resources with other workloads.
LSE requires that the allocated CPU can only be used by a Pod and not shared with other workloads.
LSR binds logical cores on

[2022-04-26 12:10] tongchao199 commented on #39
This may be a CDN cache problem

[2022-04-26 14:02] #89 closed, assigned to zwzhang0107

[2022-04-26 14:22] jasonliu747 commented on #90
/close

[2022-04-26 14:22] #90 closed

[2022-04-26 14:23] jasonliu747 commented on #83
/assign

[2022-04-26 14:25] jasonliu747 commented on #96
/area koord-scheduler
/assign @eahydra

[2022-04-27 10:23] saintube opened #104 "REQUEST: New membership for saintube"
### GitHub Username

saintube

### Requirements

- [X] I have reviewed the [community membership guidelines](https://github.com/koordinator-sh/koordinator/blob/main/docs/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I am actively contributing to 1 or more Koordinator subprojects
- [X] I have two sponsors that meet the

[2022-04-27 10:38] saintube commented on #104
/ping @hormes @zwzhang0107
and thanks for the invitation from @jasonliu747

[2022-04-27 12:01] hormes commented on #104
+1

[2022-04-27 12:09] jasonliu747 commented on #104
+11111

[2022-04-28 03:24] hormes commented on #104
/close

[2022-04-28 03:24] #104 closed

[2022-04-28 06:19] hormes opened #107 "[Proposal] runtime manager lacks tests"
add tests for runtime manager

[2022-04-28 10:25] #55 closed

[2022-04-28 11:03] honpey opened #109 "[proposal] trace runtime-manager request/response to help quickly locate and analyze problems."
**What is your proposal**:

**Why is this needed**:

**Is there a suggested solution, if so, please add it**:

[2022-04-28 11:03] honpey commented on #109
/assign

[2022-04-28 15:40] jasonliu747 commented on #77
/kind bug

[2022-04-29 06:25] eahydra commented on #63
implement by #105

[2022-04-29 07:36] #56 closed

[2022-04-29 10:20] vivianzh opened #113 "[proposal] Utilize PMEM hardware to implement a new memory policy when the system memory exceeds safety threshold"
**What is your proposal**:
On the machine with PMEM hardware, we can utilize this hardware capability, migrating BE pods memory to PMEM instead of evicting them directly when the system archives the memory safety threshold.

**Why is this needed**:
PMEM can be used as the system memory, then we suggest to implement a differentiated memory policy for the machine with PMEM hardware, which can make f

[2022-04-29 10:33] jasonliu747 opened #114 "[support request] github actions became very slow"
**What is your problem or scenario?**
Since April 28th, github action needs way more time to complete all workflows.
Can you guys dig into this problem? Thanks.

Comparison:
![image](https://user-images.githubusercontent.com/24452340/165928384-361f9c74-c307-445a-847f-b00c04b6fbe4.png)
![image](https://user-images.githubusercontent.com/24452340/165928426-3553560f-520a-4588-b42f-dba290ac1423.png)

[2022-04-29 11:14] eahydra commented on #96
/kind proposal

[2022-04-29 12:14] hormes commented on #113
It is a great idea, thanks @vivianzh

What methods of operating PMEM are provided by the system, how to move a pods memory to PMEM?

[2022-04-30 02:42] jasonliu747 commented on #114
/assign

[2022-05-05 06:38] #52 closed

[2022-05-05 12:16] zwzhang0107 opened #120 "[proposal] runtime-hooks should support multiple running mode"
**What is your proposal**:
injections in runtime hooks of koordlet such as cpu qos，memory oqs，llc/mba can work with or without runtime-hook-manager（runtime-porxy mode）

**Why is this needed**:
someone would rather use bypass-injection mode than changing kubelet cri endpoint config.

**Is there a suggested solution, if so, please add it**:
runtime hooks in koordlet should support two running mode:

[2022-05-05 12:19] zwzhang0107 commented on #120
/area koordlet
/area runtime

[2022-05-05 12:40] zwzhang0107 opened #121 "[proposal] scaffold implementation of runtime hooks module in koordlet"
**What is your proposal**:
#57

**Why is this needed**:

**Is there a suggested solution, if so, please add it**:

[2022-05-05 12:41] zwzhang0107 commented on #121
/area koordlet

[2022-05-06 02:07] jasonliu747 commented on #83
/assign @Mr-Linus

[2022-05-06 08:08] jasonliu747 opened #124 "[proposal] CI should fail if diff coverage is below 70%"
**Why is this needed**:
Diff coverage is the percentage of new or modified lines that are covered by tests. This provides a clear and achievable standard for code review: If you touch a line of code, that line should be covered.

Code coverage is every developer's responsibility!

So, I think CI should fail if diff coverage is below 70% or something else.

**Is there a suggested solution, if so, p

[2022-05-06 08:09] jasonliu747 commented on #124
/assign @saintube

[2022-05-06 08:53] jasonliu747 commented on #124
https://docs.codeclimate.com/docs/configuring-your-analysis#test-coverage

[2022-05-07 02:23] #69 closed

[2022-05-07 11:58] hormes commented on #124
+10086

[2022-05-09 07:26] jasonliu747 commented on #114
It's back to normal.
![image](https://user-images.githubusercontent.com/24452340/167360687-8f4b0379-f952-4e78-ab53-0b692203cdbf.png)

[2022-05-10 06:59] #114 closed

[2022-05-12 05:02] #57 closed

[2022-05-12 05:03] #85 closed

[2022-05-13 09:53] tianzichenone opened #136 "[BUG] Memory qos WmarkRatio description"
**What happened**:

memoryqos apis/slo/v1alpha1/nodeslo_types.go :
WmarkRatio docs:

	// `memory.wmark_high` := min(memory.high, memory.limit_in_bytes) * memory.wmark_scale_factor

this should be
`memory.wmark_high` := min(memory.high, memory.limit_in_bytes) * memory.wmark_ratio?

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else w

[2022-05-16 02:41] hormes opened #139 "[proposal] remove dependency of kubelet readonly port"
**What is your proposal**:
Use ListWatch instead of querying Pods from the kubelet when 10255 is closed.

**Why is this needed**:
The kubelet readonly prot is disabled by default.

**Is there a suggested solution, if so, please add it**:

[2022-05-16 02:41] hormes commented on #139
/area koordlet

[2022-05-16 02:45] hormes commented on #136
@saintube

[2022-05-16 03:16] saintube commented on #136
/assign @saintube

[2022-05-16 07:19] zwzhang0107 opened #141 "[proposal] Essential QoS Enhancement Features of Koordlet"
**What is your proposal**:
List a series of QoS enhancement features of Koordlet since v0.4.

**Why is this needed**:

- [x] #147
- [ ] #148
- [ ] blkio qos

**Is there a suggested solution, if so, please add it**:

[2022-05-16 08:08] jasonliu747 commented on #139
I think instead of removing dependency of kubelet, we could let user pass some argument when launching koordlet. Using ListWatch might put too much pressure on APIServer when restarting koordlet.

Some useful Kubelet client flags for example:

      --kubelet-certificate-authority string      Path to the CA to use to validate the Kubelet's serving certificates.
      --kubelet-client-certificate s

[2022-05-16 08:18] tianzichenone commented on #136
/assign @tianzichenone

[2022-05-17 06:30] honpey opened #143 "[proposal] runtime manager deployments manual"
**What is your proposal**:

**Why is this needed**:

**Is there a suggested solution, if so, please add it**:

[2022-05-17 06:30] honpey commented on #143
\assign ZYecho

[2022-05-17 06:31] honpey commented on #143
/assign ZYecho

[2022-05-17 06:31] honpey commented on #143
/area runtime

[2022-05-17 06:51] #136 closed

[2022-05-17 06:57] honpey opened #144 "[proposal] runtime-manager manunal"
**What is your proposal**:

**Why is this needed**:

**Is there a suggested solution, if so, please add it**:

[2022-05-17 06:57] honpey commented on #144
/assign

[2022-05-17 07:09] hormes commented on #139
What I'm trying to say is to provide an alternative. If user doesn't want to change the kubelet configuration, koordlet should be able to continue working.

[2022-05-17 08:02] jasonliu747 opened #145 "[proposal] remove vendor dependencies"
**What is your proposal**:
Now that we have switched to Go modules, there's no need to commit dependencies in the vendoring directory to the repository. I don't see much value in keeping in the repo and it just adds bloat.

For users in China, there're lot of modules in the Go ecosystem that cannot be easily`go install`. In that case, they can follow the instruction below to fix this problem.

[co

[2022-05-17 12:46] zwzhang0107 commented on #141
1、features
* cpu evict strategy v0.4
* network qos v0.4
* blkio qos -v0.5/v0.6
* AMD pqos support（x86 LLC/MBA）- v0.5
* Kernel and environment adaptivity（cgroup v1/v2） - v0.5
* observability - v0.6
* recommender
    * api v0.5
    * Implement start at  v0.6

2、runtime-hooks <-> runtime-manager v0.4
	cpu qos plugins

3、qos-plugin-manager
	proposal during v0.4, describe the problem and plan
      doc

[2022-05-17 12:49] zwzhang0107 opened #147 "[proposal] evict strategy based cpu usage"
TODO, add more description @stormgbs

**What is your proposal**:

**Why is this needed**:

**Is there a suggested solution, if so, please add it**:

[2022-05-17 12:50] zwzhang0107 opened #148 "[proposal] support network qos"
TODO, more description by @jasonliu747

**What is your proposal**:

**Why is this needed**:

**Is there a suggested solution, if so, please add it**:

[2022-05-17 14:13] jasonliu747 commented on #148
/assign

[2022-05-18 02:40] forcoder opened #150 "[BUG]I install koordinator on huaweicloud cce,but I can't get the right result for the spark-pi job."
**What happened**:
when I use koordinator on huaweiCloud cce.
![image](https://user-images.githubusercontent.com/5011087/168946648-2b787a6f-56d9-456f-9a43-622bfd9cdba5.png)

I describe the pod:
![image](https://user-images.githubusercontent.com/5011087/168946961-56a97e67-f5d4-4cdf-9ed5-24e802b02f58.png)
![image](https://user-images.githubusercontent.com/5011087/168946989-1cfc2ae2-8738-4e96-a003-39

[2022-05-18 02:43] forcoder commented on #150
`test`

[2022-05-19 06:37] #121 closed

[2022-05-19 06:38] zwzhang0107 opened #154 "[proposal] support group identity by runtime hooks"
**What is your proposal**:

**Why is this needed**:

**Is there a suggested solution, if so, please add it**:

[2022-05-19 06:38] zwzhang0107 commented on #154
/assign zwzhang0107
/area koordlet

[2022-05-22 02:57] jasonliu747 opened #163 "[support request] Run GitHub Action on multiple environments"
**What is your problem or scenario?**
Since majority of programmer are using Mac for development, and deploy Koordinator in a Linux environment. So after #151 , I think it's necessary to run github action on multiple environments like MacOS and Linux.

[2022-05-23 02:10] #77 closed

[2022-05-23 07:17] jasonliu747 commented on #124
@saintube #131 didn't work, please take a look when you're free. Thanks.

[2022-05-24 03:32] jasonliu747 commented on #141
/assign @zwzhang0107 @jasonliu747

[2022-05-24 06:08] #163 closed

[2022-05-25 08:32] #147 closed

[2022-05-26 02:14] jasonliu747 commented on #150
Hi @forcoder, according to this [article](https://support.huaweicloud.com/intl/en-us/cce_faq/cce_faq_00290.html), Huawei CCE is supposed to supoort 10255 port. Can you confirm with people from Huawei?

[2022-05-26 02:21] #95 closed

[2022-05-26 03:47] hormes commented on #150
@forcoder as discuss in DingDing group, could you submit a PR compatible with the mode of list-watch pods from apiserver？

[2022-05-26 03:49] hormes opened #172 "[proposal] Unify the style of test code"
**What is your proposal**:
Unify the style of test code:
https://github.com/koordinator-sh/koordinator/blob/main/pkg/slo-controller/nodemetric/nodemetric_controller_test.go

**Why is this needed**:
Consistent coding style so participants don't get confused.

**Is there a suggested solution, if so, please add it**:
refactor nodemetric tests

[2022-05-26 03:51] hormes commented on #172
/assign

[2022-05-26 06:29] forcoder commented on #150
I have a try

[2022-05-26 09:12] zwzhang0107 opened #174 "[proposal] plugins in `resmgr` module should be moved to `runtimehooks` or `qos-manager`"
**What is your proposal**:
Plugins in `resmgr` can be classified into two types: `static` and `dynamic`.
For `static` type, advanced parameters like NodeSLO will be injected according to pod QoS and Priority, such as cpu qos, memory qos,
For `dynamic` type, pod will be adjusted dynamically according to node running state, such as cpu suppress, cpu burst, memory evict.

**Why is this needed**:
move

[2022-05-27 03:58] #172 closed

[2022-05-27 08:08] #145 closed

[2022-05-30 02:40] jasonliu747 commented on #174
blocked by #58

[2022-05-30 02:46] jasonliu747 commented on #141
qos-plugin-manager proposal postpone to v0.5 /cc @stormgbs

[2022-05-30 03:06] #144 closed

[2022-05-30 08:53] eahydra opened #188 "[proposal] Support resource reservation mechanism"
**What is your proposal**:

Support resource reservation mechanism.

**Why is this needed**:

There are some scenarios where this mechanism needs to be used:
- Preemption. Through the reservation mechanism, it can be guaranteed that Pods with the same priority must have resources available after preempting other Pods
- Descheduling. When descheduling, it is necessary to ensure that the descheduled

[2022-05-30 08:53] eahydra commented on #188
/are koord-scheduler

[2022-05-30 08:54] eahydra commented on #188
/area koord-scheduler

[2022-05-30 08:54] eahydra commented on #188
/assign @saintube @eahydra

[2022-05-30 09:00] jasonliu747 commented on #66
/milestone v0.4

[2022-05-30 12:24] #154 closed

[2022-05-30 12:27] eahydra opened #189 "[BUG] unused field CPUEvictThresholdPercent in NodeSLO"
**What happened**:

the field `CPUEvictThresholdPercent` in NodeSLOSpec.ResourceUsedThresholdWithBE is not used.

**What you expected to happen**:

Remove the field

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- App version:
- Kubernetes version (use `kubectl version`):
- Install details (e.g. helm install args):
- Others

[2022-05-30 12:28] eahydra commented on #189
/assign @jasonliu747

[2022-05-30 12:30] eahydra opened #190 "[BUG] BE CPU Evict doesn't work"
**What happened**:

BE CPU eviction mechanism does not work.

**What you expected to happen**:

Expect the mechanism works.

**How to reproduce it (as minimally and precisely as possible)**:

- install the latest the koordlet and new version CRD
- enable the mechanism

**Anything else we need to know?**:

**Environment**:
- App version:
- Kubernetes version (use `kubectl version`):
- Install detai

[2022-05-30 12:30] eahydra commented on #190
/assign @jasonliu747

[2022-05-30 13:40] #190 closed

[2022-05-31 03:48] #189 closed

[2022-05-31 03:50] ZYecho opened #193 "[support request] add more tests to docker-proxy"
**What is your problem or scenario?**

docker-proxy UT request

[2022-05-31 06:57] eahydra opened #196 "[proposal] A more flexible, scalable and reliable descheduler"
**What is your proposal**:

We should enhance the k8s descheduler to make it be more flexible, scalable and reliable, and make the Koordinator's scheduling capabilities more complete.

**Why is this needed**:
- We should extend the descheduler to support event-triggered scenarios. The current k8s descheduler is periodic interval, but many scenarios are triggered based on events.
- We should try to

[2022-05-31 07:03] eahydra commented on #196
the descheduler relies on the reserveResource mechanism. #188

[2022-05-31 07:03] jasonliu747 opened #197 "cpu qos(group identity)"

[2022-05-31 07:04] #197 closed

[2022-05-31 09:58] eahydra opened #199 "Submit a proposal for detailed design about descheduler"

[2022-05-31 09:59] eahydra commented on #199
/area koord-descheduler

[2022-05-31 10:00] eahydra commented on #196
/area koord-descheduler

[2022-05-31 10:04] #64 closed

[2022-05-31 10:46] #143 closed

[2022-05-31 15:44] eahydra opened #201 "[proposal] load-aware descheduling"
**What is your proposal**:

Support load-aware descheduling

**Why is this needed**:

Although Koordinator now has load-aware scheduling capabilities, but it is a best-effort mechanism. Whether it is a latency-sensitive application or a best-effort workloads, it is always possible to generate local hot spots in actual operation. At this time, it is necessary to optimize local hot spots by reschedu

[2022-05-31 15:44] eahydra commented on #201
/area koord-descheduler

[2022-05-31 15:44] eahydra commented on #201
ref #196

[2022-05-31 16:15] eahydra opened #202 "[proposal] support elastic quota"
**What is your proposal**:

support elastic quota

**Why is this needed**:

In the co-location scenario, a large number of best effort Pods will reuse the resources in the cluster, and these best effort Pods belong to different organizations or users. How to ensure that the best effort Pods of these subjects can get some resources to run their own Pods is a problem that needs to be solved. At the

[2022-05-31 16:39] eahydra opened #203 "[proposal] Gang scheduling"
**What is your proposal**:

**Why is this needed**:

**Is there a suggested solution, if so, please add it**:

[2022-05-31 16:41] eahydra opened #204 "[proposal] topology-aware scheduling"
**What is your proposal**:

Support topology-aware scheduling

**Why is this needed**:

In AI training scenarios, schedule related Pods to the same topology as much as possible to achieve higher running performance

**Is there a suggested solution, if so, please add it**:

[2022-05-31 16:41] eahydra commented on #204
/area koord-scheduler

[2022-05-31 16:47] eahydra commented on #203
/area koor-scheduler

[2022-06-01 06:25] jasonliu747 opened #205 "[proposal] introduce GoReleaser to publish release assets"
**What is your proposal**:
GoReleaser is a release automation tool for Go projects. The goal is to simplify the build, release and publish steps while providing variant customization options for all steps.

Users have to build runtime-proxy related file locally. We should let GoReleaser cover this workload, and publish `deb`, `rpm`, and `bin` whenever there is a new release or tag published.

**Is

[2022-06-01 07:25] eahydra opened #206 "[proposal] Unify the command parameter style of koordlet"
**What is your proposal**:
Unify the startup parameter style of each component, recommend `Fully POSIX-compliant flags`

**Why is this needed**:

The command parameter styles of `koord-scheduler`, `koord-manager` and `koord-runtime-proxy` basically follow the `POSIX-compliant flags` style, but the style of `koordlet` is relatively independent, such as `KubeletIPAddr`, `KubeletSyncIntervalSeconds`,

[2022-06-05 04:27] jasonliu747 opened #210 "[proposal] use log levels that match logging conventions"
**What is your proposal**:
We have come up with a proposal regards to logging convetsion in https://github.com/koordinator-sh/koordinator/issues/211. These conventions should be seen as a strong recommendation. Next step is refactoring the whole project to follow guidelines.

**Why is this needed**:
Knowing how and what to log is, to me, one of the hardest tasks a software engineer will have to do

[2022-06-06 02:12] jasonliu747 opened #211 "Propose a logging convetions"

[2022-06-06 02:18] #124 closed

[2022-06-06 02:35] jasonliu747 commented on #211
/assign

[2022-06-06 03:28] eahydra opened #213 "implementation the descheduler framework to support the event-triggered scenarios, and compatible with community frameworks"

[2022-06-06 03:28] eahydra opened #214 "implementation the eviction api"

[2022-06-07 02:39] zwzhang0107 opened #216 "[proposal] support llc/mba isolation for AMD arch"
**What is your proposal**:
support llc/mba isolation for AMD

**Why is this needed**:
The memory bandwidth schema format of resctrl on AMD is different with Intel.
L3 isolation formats are same.
Intel use percentage for MB configuration, however AMD use absolutely value for MB configuration.

Intel Format:
    L3:0=00f;1=00f
    MB:0=100;1=100

AMD Format
    L3:0=ffff;1=ffff;2=ffff;3=ffff;4=ffff;

[2022-06-07 02:59] zwzhang0107 commented on #174
/area koordlet

[2022-06-07 03:07] jasonliu747 commented on #216
/area koordlet

[2022-06-07 03:08] jasonliu747 commented on #211
/kind proposal

[2022-06-07 07:09] cheimu opened #217 "[BUG] Add Docker case in runtimeproxy document"
**What happened**:
In https://github.com/koordinator-sh/koordinator/blob/main/docs/design-archive/koord-runtime-proxy-design-doc.md#setup-kubelet , the kubelet cmdline is  `--container-runtime=remote --container-runtime=/var/run/koord-runtimeproxy/runtimeproxy.sock`. However, this is for containerd only, and not works for Docker.

**What you expected to happen**:
Add `--docker-endpoint=unix:///var

[2022-06-07 07:27] ZYecho commented on #217
/assign

[2022-06-07 08:05] hormes commented on #216
/label "help wanted"

[2022-06-07 08:07] hormes commented on #216
/label help wanted

[2022-06-07 08:11] hormes commented on #216
/help

[2022-06-07 08:14] ZYecho commented on #217
/help

[2022-06-07 08:15] ZYecho commented on #193
/help

[2022-06-07 08:16] ZYecho opened #218 "[support request] create container hook"
**What is your problem or scenario?**
implement create container hook

[2022-06-07 10:09] j4ckstraw opened #221 "[proposal] use cpuacct.usage instead of cpuacct.stat"
**What is your proposal**:
 Use cpuacct.usage instead of cpuacct.stat

**Why is this needed**:
proposal? maybe a question.

As far as I am concerned, cpuacct.usage is more precise than cpuacct.stat, and cpuacct.stat is in USER_HZ unit, while cpuacct.usage is nanoseconds, why we use cpuacct.stat other than cpuacct.usage?

**Is there a suggested solution, if so, please add it**:

[2022-06-07 12:24] zwzhang0107 commented on #221
cpuacct.stat is more specific (system, user), which is helpful for future extensions. Is there any scenario that we must use nanoseconds?

[2022-06-07 12:57] jasonliu747 opened #222 "refactor whole logging according to conventions"
**Why is this needed**:
We have come up with a proposal regards to logging convetsion in #211. These conventions should be seen as a strong recommendation.
Next step is refactoring the whole project to follow guidelines.

![image](https://user-images.githubusercontent.com/24452340/172385080-4f37f8e1-98bb-434b-bb85-9d377551c75c.png)

[2022-06-08 02:57] wenjianhn commented on #221
cpuacct.stat is udpated every tick by [account_process_tick()](https://elixir.bootlin.com/linux/v5.4.197/source/kernel/sched/cputime.c#L475).
Lots of context switches may occur between ticks[1].
The task that runs at the end of a tick is accounted for the whole tick.
This may lead to two serious issues:
1. cpu time is incorrect
2. cgroup is incorrect

[1]
[code]

[2022-06-08 07:22] eahydra opened #224 "support LSE QoS"
**What is your proposal**:

LSE QoS class is a special QoS, like LSR QoS, it also statically bind CPUs, but the CPUs allocated by the LSE Pod are completely exclusive and MUST NOT BE shared.

**Why is this needed**:

**Is there a suggested solution, if so, please add it**:

[2022-06-08 07:22] eahydra opened #225 "support LSR QoS"
**What is your proposal**:

implements the fine-grained CPU orchestration to support LSR QoS.   The CPUs that requested by LSR Pods are allocated from koord-scheduler, and koordlet replace these CPUs to cgroup with kubelet CRI request.

The details please refer to proposal  #96

**Why is this needed**:

**Is there a suggested solution, if so, please add it**:

[2022-06-08 07:22] eahydra opened #226 "koord-scheduler supports flexible CPU binding strategy"
**What is your proposal**:
Centralized decision-making how to allocate CPU can achieve global optimal results. This requires flexible CPU allocation binding strategies. More details please refer to #96

**Why is this needed**:

**Is there a suggested solution, if so, please add it**:

[2022-06-08 07:22] eahydra opened #227 "koord-scheduler supports CPU exclusive policy"
**What is your proposal**:

The scheduler can coordinate the arrangement between latency-sensitive applications. For example, the same latency-sensitive applications can be mutually exclusive in the CPU dimension, and latency-sensitive applications and general applications can be deployed in the CPU dimension affinity. Costs can be reduced and runtime quality can be guaranteed.

More details pleas

[2022-06-08 07:22] eahydra opened #228 "koord-scheduler supports NUMA Topology Alignment policy"
**What is your proposal**:

The Topology Manager is a kubelet component that aims to coordinate the set of components that are responsible for these optimizations. After Topology Manager was introduced the problem of launching pod in the cluster where worker nodes have different NUMA topology and different amount of resources in that topology became actual. The Pod could be scheduled in the node w

[2022-06-08 07:22] eahydra opened #229 "support of fine-grained cpu orchestration in koordlet"
**What is your proposal**:

Compatible with kubelet's existing CPU management policies. The CPU manager policy static allows pods with certain resource characteristics to be granted increased CPU affinity and exclusivity in the node. If enabled the static policy, the cluster administrator must configure the kubelet reserve some CPUs. There are some options for static policy. If the full-pcpus-only

[2022-06-08 07:24] eahydra opened #230 "implement RebindResource controller to support resource optimization dynamically"
**What is your proposal**:
As the application scaling or rolling deployment, the best-fit allocatable space will gradually become fragmented, which will lead to the bad allocation effect of some strategies and affect the runtime effect of the application.

**Why is this needed**:

**Is there a suggested solution, if so, please add it**:

[2022-06-08 07:33] stormgbs commented on #229
/assign @ZYecho

[2022-06-08 08:27] #139 closed

[2022-06-08 08:27] #150 closed

[2022-06-08 09:58] zwzhang0107 opened #232 "[proposal] report node CPU topology info"
**What is your proposal**:
report node CPU topology info as NUMAResourceTopology, which is a CRD.

**Why is this needed**:
koord-scheduler needs node detailed info for fine-grained CPU orchestration, see https://github.com/koordinator-sh/koordinator/issues/96 for more details.

**Is there a suggested solution, if so, please add it**:
- save cpu topology info into the annotation `node.koordinator.s

[2022-06-08 12:18] zwzhang0107 opened #233 "[proposal] CPUSet injections to container runtime for fine-grained CPU orchestration"
**What is your proposal**:
Setting cgroup/cpuset parameters for containers by pod QoS.

**Why is this needed**:
fine-grained CPU orchestration is supported by koord-scheduler, koordlet should apply the scheduling result to cgroup paramters. See https://github.com/koordinator-sh/koordinator/issues/96 for more details.

**Is there a suggested solution, if so, please add it**:
rules of cpuset:
- LSE/

[2022-06-08 12:33] zwzhang0107 opened #234 "[proposal] cpu suppress policy should take fine-grined cpu orchestration into consideration"
**What is your proposal**:
`cpu suppress` policy change the cpuset of BE pod dynamically. fine-grined cpu orchestration rule should be considers. see https://github.com/koordinator-sh/koordinator/issues/96 for more details.

**Why is this needed**:
BE pod should not share CPU with LSE.
fairness of the BE cpuset should be considered, in case the BE cpuset are shared to only few LSR/LS pods.

**Is t

[2022-06-08 12:36] zwzhang0107 commented on #232
/assign ZYecho
/assign stormgbs

[2022-06-08 12:37] zwzhang0107 commented on #233
/assign zwzhang0107

[2022-06-08 12:38] zwzhang0107 commented on #229
#232
#233
#234

[2022-06-08 12:40] zwzhang0107 commented on #233
/area koordlet

[2022-06-08 12:41] zwzhang0107 commented on #234
/area koordlet

[2022-06-09 03:22] zwzhang0107 commented on #221
points are got! would you like to submit a PR to refactor this, which can also solve the side-effects motioned above.

[2022-06-09 03:32] j4ckstraw commented on #221
OK, I will try to submit a PR.

[2022-06-09 10:54] jasonliu747 commented on #221
/assign @j4ckstraw
Thanks for your help!

[2022-06-09 10:56] jasonliu747 commented on #216
/assign

[2022-06-09 10:56] jasonliu747 commented on #216
/milestone someday

[2022-06-11 08:09] cheimu opened #246 "[BUG] If runtime proxy got restarted by panic, it won't restart successfully by current design"
**What happened**:
When runtime proxy got panic and restart, due to sock file of itself cannot get cleaned, it will get panic `Failed to create the lis %vlisten unix /var/run/runtimeproxy/runtimeproxy.sock: bind: address already in use`
<img width="1253" alt="image" src="https://user-images.githubusercontent.com/13050415/173179398-5cd3effb-7290-404a-99af-5569e9987fde.png">

**What you expected to

[2022-06-11 14:04] jasonliu747 commented on #246
/assign @cheimu

[2022-06-13 02:31] #246 closed

[2022-06-13 02:45] stormgbs commented on #218
/assign @ZYecho

[2022-06-13 03:55] cheimu opened #249 "REQUEST: New membership for cheimu"
### GitHub Username

@cheimu

### Requirements

- [X] I have reviewed the [community membership guidelines](https://github.com/koordinator-sh/koordinator/blob/main/docs/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I am actively contributing to 1 or more Koordinator subprojects
- [X] I have two sponsors that meet the

[2022-06-13 04:01] cheimu commented on #249
/cc @jasonliu747  @honpey  @ZYecho

[2022-06-13 04:01] jasonliu747 commented on #249
+1

[2022-06-13 04:03] honpey commented on #249
+1

[2022-06-13 04:03] zwzhang0107 commented on #83
related kubernetes issue https://github.com/kubernetes/kubernetes/pull/48922

[2022-06-13 08:06] cheimu commented on #249
/cc @hormes

Thanks for invitation. It's so exciting.

[2022-06-13 14:37] hormes commented on #249
+1
Welcome to join, hope you have a pleasant experience.

[2022-06-13 15:33] #249 closed

[2022-06-15 04:02] saintube commented on #96
related pr: https://github.com/kubernetes/enhancements/pull/3334

[2022-06-15 04:14] jasonliu747 commented on #83
another related issue: https://github.com/kubernetes/kubernetes/issues/110536

[2022-06-15 11:21] #221 closed

[2022-06-15 11:37] #217 closed

[2022-06-20 04:04] zwzhang0107 opened #264 "[proposal] report cpu-topology and cpuset allocs for cpu fine-grained orchestration"
**What is your proposal**:
report these field in NUMAResourceTopology

- node.koordinator.sh/cpu-topology
- node.koordinator.sh/cpu-shared-pools
- node.koordinator.sh/pod-cpu-allocs（without origin guaranteed-static）

**Why is this needed**:
see https://github.com/koordinator-sh/koordinator/issues/232

**Is there a suggested solution, if so, please add it**:

[2022-06-20 04:09] zwzhang0107 commented on #264
/area koordlet

[2022-06-20 04:13] zwzhang0107 opened #265 "[proposal] CPUSet injections for pod with koord QoS"
**What is your proposal**:
inject cpuset of pods by scheduler.koordinator.sh/alloc-status(LSR/LSE/LS) and node.koordinator.sh/cpu-shared-pools(LS)

**Why is this needed**:
see https://github.com/koordinator-sh/koordinator/issues/233

**Is there a suggested solution, if so, please add it**:
see https://github.com/koordinator-sh/koordinator/issues/233

[2022-06-20 04:18] zwzhang0107 commented on #265
/area koordlet

[2022-06-20 04:18] zwzhang0107 commented on #265
/assign zwzhang0107

[2022-06-20 04:18] zwzhang0107 commented on #264
/assign ZYecho
/assign stormgbs

[2022-06-20 06:18] #225 closed

[2022-06-20 06:23] eahydra commented on #96
We need to implement the CPU orchestration capabilities related to LSR and CPU Shared Pool first, and the logic compatible with the kubelet CPU Manager will be implemented in the next version.

Issues we need to address in v0.5:

- #226
- #232
- #234
- #265
   - [ ] koordlet supports LSR
   - [ ] koordlet supports CPU Shared Pool for LS, K8s Burstable and Guaranteed Pods（newly created）
   - [ ] ko

[2022-06-21 02:04] JasonRD opened #273 "caused kubelet startup exception following 'Install koord-runtime-proxy' docs"
**What happened**:
In the  ’Install koord-runtime-proxy ‘ section of installation docs, set up kubelet with follow:
`
kubelet <other options> \
   --container-runtime=remote \
   --container-runtime=unix:///var/run/koord-runtimeproxy/runtimeproxy.sock
`
, which will cause Kubelet to report an exception: unsupport runtime.

**What you expected to happen**:

Modify the documentation so that Kubelet

[2022-06-21 02:08] JasonRD commented on #273
/assign @JasonRD

[2022-06-21 03:34] saintube commented on #188
/reopen

[2022-06-21 03:38] saintube commented on #188
The support of resource reservation can be split into issues as follow:

1. [X] Propose the design of the reservation mechanism: #241
2. [ ] Define the Reservation API.
3. [ ] Implement the reservation scheduling plugin.

[2022-06-21 04:36] #273 closed

[2022-06-21 06:24] eahydra opened #280 "[proposal] controls the resources overcommitment"
**What is your proposal**:

we should provide a mechanism to control the upper limit of the total resources that can be shared by latency-sensitive applications and best-effort workloads on a node, so that users can use the co-location capability more safely.

**Why is this needed**:

Koordinator overcommitted resources by default, but some resources overcommitment will reduce stability.
For examp

[2022-06-21 11:40] saintube commented on #280
/area koordlet
/area koord-scheduler

[2022-06-22 02:49] jasonliu747 commented on #83
/unassign

[2022-06-22 06:04] hormes opened #286 "[proposal] 增加一个中文翻译的 README"
RT

[2022-06-22 06:57] hormes opened #288 "[proposal]Increase unittests coverage to 70%"
![image](https://user-images.githubusercontent.com/4395943/174957384-c1fa5f1f-488f-4f71-94d5-50f8c14f0d51.png)

- [ ] koordlet pkg
- [ ] runtime proxy pkg
- [ ] util pkg
- [x] #193
- [x] #107

[2022-06-22 11:49] chzhj opened #300 "[proposal] refactor configmap handlers with cache"
**What is your proposal**:
code refactoringfor slo-controller:
 refactor configmap handers with cache (now handler for colocation has a cache ,but nodeslo handler have no cache)

fix:
1. nodesloReconciler handler can not use EnqueueRequestForConfigMap(colocationCfg)
2. fix : config.go function IsColocationStrategyValid (MetricAggregateDurationSeconds)
3. fix : nodemetric getNodeMetricSpec config n

[2022-06-23 06:16] #205 closed

[2022-06-23 06:17] jasonliu747 commented on #205
/close via #253

[2022-06-23 06:19] jasonliu747 commented on #206
some work addressed in PR #304

[2022-06-24 07:47] jasonliu747 commented on #222
Hi @rudeigerc , thanks for stepping up. Any progress on this refactor?

[2022-06-24 08:03] Tendrun101 opened #310 "[BUG] koord-scheduler Failed to watch some object"
**What happened**:
   I installed  koordinator-0.4.1 using helm。
   changing “default-scheduler” to “koord-scheduler” ，my created pod always “Pending”

**What you expected to happen**:
   new pod scheduled success
**How to reproduce it (as minimally and precisely as possible)**:
   created new pod using koord-scheduler to scheduler。
**Anything else we need to know?**:

**Environment**:
- App versi

[2022-06-24 09:06] eahydra commented on #310
/assign

[2022-06-24 09:07] eahydra commented on #310
Thanks for the feedback

[2022-06-24 09:30] jasonliu747 commented on #310
/area koord-scheduler

[2022-06-25 07:48] eahydra opened #314 "[proposal] enhance Load-aware scheduling adopts different strategies according to the difference of workload type"
**What is your proposal**:

Load-aware scheduling adopts different strategies according to the difference of workload type.

**Why is this needed**:

Currently, load-aware scheduling does not distinguish the type of workloads, and only evaluates it according to the current load status of the node and the estimated value of the Pod. This approach also works efficiently, but it would be better if we

[2022-06-27 09:03] #300 closed

[2022-06-27 10:24] eahydra opened #316 "[BUG] koord-scheduler failed to schedule Pod without NodeMetric not found"
**What happened**:

Some nodes in the cluster are used for co-location. When creating Pod scheduling, it is required to schedule to non-co-location nodes. At this time, Pod cannot be scheduled, and the related error message is nodemetrics not found.

**What you expected to happen**:

koord-scheduler scheduled  the new created Pod  successfully even if there is not NodeMetrics in the node.

**How t

[2022-06-28 04:08] #58 closed

[2022-06-28 04:09] #316 closed

[2022-06-28 11:43] hormes commented on #314
Cool, does anyone in the community want to participate in the development of the scheduler feature?

[2022-06-29 06:27] buptcozy opened #321 "[proposal] scheduler support device(.like gpu\rdma) card level schedule"
**What is your proposal**:
scheduler can schedule devices like gpu\rdma in card level

**Why is this needed**:
 for better schedule result, such as NvLink in A100\V100, Mig in A100, Nvlink with RDMA... etc

**Is there a suggested solution, if so, please add it**:
1. a new device reporter in koordlet can report card level device crd, which will not conflict with kubelet and existed device plugin
2.

[2022-06-29 06:55] hormes commented on #321
awesome, looking forward to the expanded design docs

[2022-06-29 08:27] jasonliu747 opened #323 "[proposal] koordlet supports gathering GPU metrics from node/pod"
**What is your proposal**:
Currently koordlet is able to collect basic metrics, for example, CPU and Memory. In order to support GPU fine-grained management in the future, koordlet should be able to collect detailed GPU telemetry such as SM and memory utilization.

**Why is this needed**:

**Is there a suggested solution, if so, please add it**:

[2022-06-29 10:33] yihuifeng commented on #321
Cozy has rich experience on resource scheduling, especially GPU related.   It is the first time we make such a proposal for AI scenario.

[2022-06-29 12:39] zwzhang0107 commented on #120
/assign zwzhang0107

[2022-06-29 12:44] #120 closed

[2022-06-29 16:06] fredkan commented on #321
the design can consider the hca level schedule for rdma. For rdma often be used in shared mode by multi pods in one node.

[2022-06-30 03:29] #265 closed

[2022-07-01 06:45] buptcozy opened #330 "[proposal] scheduler support gang scheduling"
**What is your proposal**:
scheduler support gang scheduling between pods.

**Why is this needed**:
in AI scenario,  we may want worker launch at same time.

**Is there a suggested solution, if so, please add it**:
https://github.com/koordinator-sh/koordinator/pull/333

[2022-07-01 06:55] buptcozy opened #331 "[proposal] scheduler support batchpod scheduling"
**What is your proposal**:
scheduler support batchpod scheduling

**Why is this needed**:
in some AI scenarios,  we may want  a batch of pods have strong relationships:
1. in gpu senario, when one cluster has multi-type-gpu-model nodes like P100 and V100, we want one job's worker run in same gpu-model nodes to avoid large speed gap between different gpu-model.  This may lead not only efficiency pr

[2022-07-01 07:37] jasonliu747 opened #332 "[proposal] support fine-grained GPU management"
### _**This would be the parent proposal to track all related issues.**_

**Why is this needed**:
With the rapid advances in the use of AI/ML there has also been tremendous growth in the use of GPUs for supporting the intense amount of compute required to train models, process images, etc.

Since GPU machines are extremely expensive, we would want to cram as much applications as possible. However,

[2022-07-01 09:57] jasonliu747 opened #335 "[proposal] koordlet report node GPU topology(NVLINK) info"
**What is your proposal**:

**Why is this needed**:
koord-scheduler needs node detailed info for fine-grained GPU orchestration, see #332 for more details.

**Is there a suggested solution, if so, please add it**:

[2022-07-04 06:24] jasonliu747 commented on #335
/assign @ZYecho

[2022-07-04 06:24] jasonliu747 commented on #323
/assign @jasonliu747 @zwzhang0107

[2022-07-04 09:12] zwzhang0107 opened #340 "[proposal] rename resourceQoS to resourceQOS"
**What is your proposal**:
fix naming format.

**Why is this needed**:

- [x] #339
- [x] fix docs in website

**Is there a suggested solution, if so, please add it**:

[2022-07-05 04:10] zwzhang0107 commented on #83
consider using kubernetes.io/koord-bach-cpu, kubernetes.io/koord-bach-memory as extended-resource for overcommitment.

[2022-07-05 05:31] LambdaHJ opened #342 "[proposal]Collect metrics data from the kubelet instead of the cgroup."
**What is your proposal**:
Collect resource used metrics of node/pod  from kubelet instead of cgroup.
Kubelet has exported metircs by cAdvisor, We can collect metircs from kubelet directly.

**Why is this needed**:
Shield  the differences of CGroup V1 and V2

**Is there a suggested solution, if so, please add it**:

[2022-07-06 02:57] zwzhang0107 commented on #342
metrics from cAdvisor is limited both on precision and type
strategies in koordlet need more fine-grained metric, so instead of using cadvisor, we should consider the adaption of cgroup v2.

[2022-07-06 17:04] eahydra commented on #330
already has same issue #203.

[2022-07-06 17:04] #330 closed

[2022-07-06 17:05] eahydra commented on #203
#333 suggested a solution. Thanks @[buptcozy](https://github.com/buptcozy)

[2022-07-06 17:15] eahydra opened #345 "[proposal] report kubelet cpu manage result"
## What is your proposal:

compatibility with the kubelet cpu manager policy

## Why is this needed:
koord-scheduler needs node detailed info for fine-grained CPU orchestration, see https://github.com/koordinator-sh/koordinator/issues/96 for more details.

## Is there a suggested solution, if so, please add it:

More details refer to the doc: [Fine-grained CPU orchestration](https://github.com/koo

[2022-07-06 17:19] eahydra commented on #96
- #226
   - [ ] #227
   - [ ] support default CPUBindPolicy for LSR
- #234
- #345

[2022-07-06 17:21] #226 closed

[2022-07-06 17:43] eahydra opened #346 "[proposal] koordlet compatibility the existing K8s Guaranteed Pods with static policy"
**What is your proposal**:
compatibility with the kubelet cpu manager policy

**Why is this needed**:

**Is there a suggested solution, if so, please add it**:
koordlet implements Koordinator QoS CPU Orchestration about the existing K8s Guaranteed Pods with static policy, details in the [Fine-grained CPU orchestration#koordinator-qos-cpu-orchestration-principles](https://github.com/koordinator-sh/

[2022-07-08 07:09] wangxiaoq opened #352 "[BUG] koord-runtime-proxy report "invalid memory address or nil pointer dereference""
**What happened**:

After I deployed koordinator 0.5.0 and the koord-runtime-proxy, when I submit a pod with labels `koordinator.sh/enable-colocation: "true"`, the koord-runtime-proxy won't work and reported:

[code]

The service file of koord-runtime-proxy is:

[code]

**What you expected to happen**:

koord-runtime-proxy works properly.

**How to reproduce it (as minimally and precisely as possi

[2022-07-08 07:26] jasonliu747 commented on #352
Hi @wangxiaoq , thanks for reporting this issue.
What is the content of json files under `cat /etc/runtime/hookserver.d/`?

[2022-07-08 07:48] wangxiaoq commented on #352
It seems nothing under `/etc/runtime/hookserver.d/` directory

[2022-07-08 07:49] novahe commented on #352
According to the error stack,
[code]
the frist parameter `rsp` of (*PodResourceExecutor).UpdateRequest is nil.
Flow the function logic：
https://github.com/koordinator-sh/koordinator/blob/1328009c2395d7c9362475f0950fed626049e844/pkg/runtimeproxy/dispatcher/dispatcher.go#L67-L90
the code reaches 90 lines. Therefore, the configuration may be incorrect.

[2022-07-08 07:57] wangxiaoq commented on #352
@novahe thanks for your reply, I follow the doc: https://koordinator.sh/docs/installation to deploy.

[2022-07-08 08:20] jasonliu747 commented on #352
I apologize that the installation docs may not be detailed enough. Could you follow this one and try again? https://koordinator.sh/docs/designs/runtime-proxy#how-to-register-plugins

[2022-07-08 08:33] wangxiaoq commented on #352
I don't find `/var/run/koordlet-runtimehookserver.sock` on the host, only find `/var/run/koordlet/koordlet.sock`

[2022-07-08 08:48] jasonliu747 commented on #352
/assign @honpey
PTAL

[2022-07-08 09:33] zwzhang0107 commented on #352
it see

it seems that the [doc](https://koordinator.sh/docs/designs/runtime-proxy/#how-to-register-plugins) does not follow the default config of [koordlet chart](https://github.com/koordinator-sh/charts/blob/main/versions/v0.5.0/templates/koordlet.yaml#L34), please change the remote endpoint in "/etc/runtime/hookserver.d/koordlet.json" to /var/run/koordlet/koordlet.sock.

we will fix the doc asap

[2022-07-08 09:49] hormes commented on #352
[fix doc]( https://github.com/koordinator-sh/website/pull/64)

[2022-07-08 10:09] wangxiaoq commented on #352
@zwzhang0107 @hormes thanks for fixing the doc, I follow the new doc, but the problem still exists

[2022-07-08 10:17] zwzhang0107 commented on #83
- [ ] [proposal of refactor extended resource with koordinator.kubernetes.io namespace](https://github.com/koordinator-sh/koordinator/pull/350)
- [ ] koord-manager updates extended resource on node with new format
- [ ] koord-scheduler supports pod scheduling with old format exetened resource

[2022-07-11 10:18] #206 closed

[2022-07-11 12:07] eahydra opened #356 "design the new eviction api"

[2022-07-11 12:07] #356 closed

[2022-07-11 12:09] eahydra opened #357 "[proposal] design the new eviction api"
**What is your proposal**:

evict or delete Pods more safely through new API

**Why is this needed**:

Migrating Pods is an important capability that many components (such as deschedulers) rely on, and can be used to optimize scheduling or help resolve workload runtime quality issues. We believe that pod migration is a complex process, involving steps such as auditing, resource allocation, and app

[2022-07-12 06:35] #352 closed

[2022-07-14 07:59] #357 closed

[2022-07-14 08:29] ZiMengSheng opened #369 "[support request] The Compatibility Problem of Koordinator in KIND Scenario."
**What is your problem or scenario?**
**The Compatibility Problem of Koordinator in KIND Scenario.**
**Procedure**
_step 1._ Install docker, KIND in local MAC machine.
_step 2._ Create a cluster by kind.
_step 3._ Install Koordinator in the cluster created in step2.
**Problem**
1. We can discover that koordlet is always restarting, as shown in figure：
<img width="978" alt="截屏2022-07-13 21 48 38" s

[2022-07-15 06:49] jasonliu747 opened #370 "[proposal] koordlet updates device resource allocation status in NodeMetric"
**What is your proposal**:
Reporter in koordlet needs to update resources information and healthy status per device including GPU, RDMA and FPGA, etc on NodeMetric CRD based on metrics collected by metrics-advisor.

**Why is this needed**:
koord-scheduler needs info in this CRD to make scheduling decisions.

**Is there a suggested solution, if so, please add it**:

[2022-07-17 04:56] jasonliu747 commented on #288
some work addressed in #374

[2022-07-18 02:10] saintube commented on #369
@ZiMengSheng Could you please show us the output when executing commands below?

[code]

[2022-07-18 13:16] buptcozy commented on #332
Hi, in my opnion,  it's easy to be compatible with the different gpu resource expression as you mentioned. When we receive the [po](https://github.com/koordinator-sh/koordinator/issues/332#)[d](https://github.com/koordinator-sh/koordinator/issues/332#), we can execute a resource-translate-function just like "nvidia.com/gpu" to convert to koordinator resources.

[2022-07-18 13:26] cheimu commented on #332
yea, that sounds achievable, but how to make it easy to extend? I probably understand this solution incorrectly, does that mean we have to implement customized `resource-translate-function` and recompile it may only suit for pro gamer. However, for most of users who want to optimize their cost, they only want to configure something without modifying source code 🤔

[2022-07-18 13:35] cheimu commented on #332
Is this only for MVP? or this is the final target product? Since there are tons of models are very small but effective and gpu virtualization can allow container to request part of a GPU, right?

[2022-07-18 14:17] eahydra commented on #332
Really a good idea. But this also requires implementing an interpreter. Although it is possible to define some rules to simplify the implementation, it also brings about the problem of generality. In addition, how to map other protocols to the koordinator's protocol also involves semantic conversion, which may not be solved by means of regularization.

[2022-07-18 14:24] eahydra commented on #332
New users of koordinator can also consider other strategies. For example, they can divide different node pools to run Pods using the koordinator protocol independently, and do not necessarily need to be deployed in combination with Pods of other protocols.

[2022-07-18 16:26] eahydra commented on #332
Well, as you know, if the vendor does not expose the  scheduler and device-plugin details, it's easy to break the vendor's internal functionality.

I understand you are looking to solve compatibility issues when mixing different scheduler and DevicePlugin scenarios. This is a complicated question.

It is complicated even in simple scenarios where NVIDIA GPUs and Koordinator GPUs coexist. Currently

[2022-07-19 01:50] ZiMengSheng commented on #369
@saintube Okay. The output of command `ls -l /sys/fs/cgroup/cpu` as follows:
![image](https://user-images.githubusercontent.com/20925848/179646510-d9e9e670-25ce-447b-8d31-29416e412425.png).
The output of command `ps -ef | grep "kubelet"` as follows:
![image](https://user-images.githubusercontent.com/20925848/179646691-eb559180-e859-4d03-9dc8-25d0ba2685bf.png)

[2022-07-19 03:34] cheimu commented on #332
Okay, I got you. I have one more question:

If so, how does koordinator scheduler work? Users set vendor's gpu ext-resource fields, then webhook hijacks it and convert it to koordinator resource fields, then scheduler does filter, reserver and prebind, and finally convert it back to vendor's ext-resource fields?

[2022-07-19 06:18] ZiMengSheng commented on #286
I am willing to add chinese version of Readme.

[2022-07-19 06:32] eahydra commented on #286
/assign @ZiMengSheng

[2022-07-19 08:44] jasonliu747 opened #381 "[proposal] koordlet collects basic devices info and create/update Device CRD"
**What is your proposal**:
koordlet needs to create or update Device CRD instance with the resources information and healthy status per device including GPU, RDMA and FPGA, etc. This version we only support GPU.

**Why is this needed**:
koord-scheduler needs info in this CRD to make scheduling decisions.

**Is there a suggested solution, if so, please add it**:

[2022-07-19 11:38] saintube commented on #369
@ZiMengSheng OK... Now I know the real reason.
KinD nodes enables [cgroups-v2](https://www.kernel.org/doc/html/latest/admin-guide/cgroup-v2.html), while koordlet currently requires cgroups-v1 system. Could you please set cgroups-v1 in KinD nodes so the koordlet would identify the cgroups paths correctly?

[2022-07-19 13:40] #286 closed

[2022-07-19 13:41] #234 closed

[2022-07-20 08:40] jasonliu747 commented on #288
![image](https://user-images.githubusercontent.com/24452340/179937517-7959a8b9-839a-4f9c-93e5-b6346af6b633.png)
![image](https://user-images.githubusercontent.com/24452340/179937676-e227f227-1eaf-41d3-b941-2e5035385b0d.png)

[2022-07-20 11:40] zwzhang0107 opened #387 "[proposal] cpu burst strategy should use cpu share pool for threshold ratio comparing"
**What is your proposal**:

**Why is this needed**:

**Is there a suggested solution, if so, please add it**:

[2022-07-20 11:40] zwzhang0107 commented on #387
/area koordlet
/assign zwzhang0107

[2022-07-20 12:05] #323 closed

[2022-07-20 12:52] LambdaHJ opened #388 "REQUEST: New membership for LambdaHJ"
### GitHub Username

@LambdaHJ

### Requirements

- [X] I have reviewed the [community membership guidelines](https://github.com/koordinator-sh/koordinator/blob/main/docs/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I am actively contributing to 1 or more Koordinator subprojects
- [X] I have two sponsors that meet th

[2022-07-20 12:55] jasonliu747 commented on #388
+1
@LambdaHJ has actively contributed to koordlet and I am excited to have him as part of our contributor group.

[2022-07-20 13:02] zwzhang0107 commented on #388
+1
Welcome!!

[2022-07-20 14:22] #213 closed

[2022-07-21 03:16] ZiMengSheng commented on #369
I have set cgroups-v1 in KinD node. But koordlet doesn't identify cgroups paths. this is the contents of
/sys/fs/cgroup/cpu.
![image](https://user-images.githubusercontent.com/20925848/180122137-e0559e77-a480-419b-89cc-7d7320d45e9d.png)

[2022-07-21 03:36] eahydra commented on #388
+1
Welcome! 🎉🎉🎉

[2022-07-21 05:19] saintube commented on #369
@ZiMengSheng It seems KinD also change the cgroups root configuration of kubelet. Could you please check the `CgroupRoot` configured in your KinD nodes.
FYI: https://kubernetes.io/docs/reference/config-api/kubelet-config.v1beta1/

e.g.
[code]

[2022-07-21 06:48] jasonliu747 opened #390 "[BUG] nodeMetric and podsMetric in NodeMtric are empty"
**What happened**:
After updating to the latest code, nodeMetric and podsMetric in `NodeMetric` became empty.

[code]
**What you expected to happen**:
![image](https://user-images.githubusercontent.com/24452340/180147889-848c2e28-f475-4fa3-b4c4-61b92b068b83.png)

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- App version:

[2022-07-21 06:50] jasonliu747 commented on #390
/area koord-manager

[2022-07-21 07:02] jasonliu747 commented on #390
/assign
looks like it was introduced by #378

[2022-07-21 08:16] ZiMengSheng commented on #369
this is the output of `grep -i "cgroup" /var/lib/kubelet/config.yaml`
[code]
but I can't cd into /kubelet

[2022-07-21 09:19] hormes commented on #388
@LambdaHJ I have sent an invitation, please check your email.

[2022-07-21 10:09] jasonliu747 commented on #390
For more info, please check: https://kubernetes.io/zh-cn/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/#field-pruning

[2022-07-21 10:09] #390 closed

[2022-07-21 12:11] saintube commented on #369
@ZiMengSheng I think `cgroupRoot` represents a sub-path of the real kubelet cgroup root. Could you please check the sub directories of your `/sys/fs/cgroup/kubelet.slice` or `/sys/fs/cgroup/kubelet`. Then you may get a cgroup sub-path named`kubepods.slice`, which is the wanted cgroup root of kubelet.

[2022-07-21 13:35] jasonliu747 commented on #388
/close

[2022-07-21 13:35] #388 closed

[2022-07-21 13:49] ZiMengSheng commented on #369
yes, you may be right.
maybe this path
![image](https://user-images.githubusercontent.com/20925848/180229715-de491dd7-1709-4c9f-9a77-5d3fbd87c870.png)

[2022-07-22 01:51] saintube commented on #369
@ZiMengSheng So KinD uses a custom `CgroupRoot` for the Kubelet, which Koordlet does not currently support. Koordlet uses the default cgroup path of Kubelet since we often keep this configuration unchanged. This is a compatibility issue and Koordlet needs to support custom cgroup root, WDYT @zwzhang0107 @jasonliu747

[2022-07-22 02:26] jasonliu747 commented on #369
I assume kind is for local development environment only, not production use. And yes, we definitely can support it in the future release.  But right now, I think the best for us is to add it into known issues list.

[2022-07-22 07:33] wangxiaoq opened #395 "[BUG] Pod start failed：failed to write "0-xx": write /sys/fs/cgroup/cpuset/kubepods/besteffort/pod3f915ba0-fad2-4c10-a87f-bebb8290936d/nginx/cpuset.cpus: permission denied: unknown"
**What happened**:

1. Create a batch priority and BE QoS ClusterColcationProfiles in cluster
2. Create a Pod use the ClusterColcationProfiles above
3. The Pod start failed: Error: failed to create containerd task: OCI runtime create failed: container_linux.go:380: starting container process caused: process_linux.go:385: applying cgroup configuration for process caused: failed to write "0-95": wri

[2022-07-22 07:42] zwzhang0107 commented on #395
when cpu suppress strategy enabled, cpuset of besteffort dir will be modified, which will be conflicted if there is cpusets in CRI requests.
so the cpuset of besteffort pod in CRI request should be erased by runtimehooks.cpuset

[2022-07-22 07:50] jasonliu747 commented on #395
/area koordlet
/assing @zwzhang0107

[2022-07-22 07:51] jasonliu747 commented on #395
/assign @zwzhang0107

[2022-07-22 09:11] buptcozy opened #396 "[proposal] multi hierarchy elastic quota management"
**What is your proposal**:

**Why is this needed**:

**Is there a suggested solution, if so, please add it**:

https://github.com/koordinator-sh/koordinator/pull/398

[2022-07-25 02:54] #370 closed

[2022-07-25 03:16] zwzhang0107 commented on #369
current koordlet only support cgroup v1
`cgroup path` configuration has been supported, consider adding a feature-gate for KinD to support cgroup path prefix

[2022-07-26 07:11] eahydra commented on #199
closed by #358 #371

[2022-07-26 07:11] #199 closed

[2022-07-26 07:32] zwzhang0107 opened #407 "[proposal]cgroup v2 support of koordlet"
**What is your proposal**:

**Why is this needed**:
for details, please check https://github.com/koordinator-sh/koordinator/issues/369#issuecomment-1192098467

**Is there a suggested solution, if so, please add it**:

[2022-07-26 08:05] zwzhang0107 commented on #407
/area koordlet

[2022-07-26 10:42] wangxiaoq commented on #395
more info:

container runtime: containerd 1.4.11/runc 1.0.2

[2022-07-26 11:52] ZYecho opened #411 "[BUG] cpu supress should exclude k8s guaranteed pod"
**What happened**:

**What you expected to happen**:
recover and adjust cpuset need to exclude origin k8s guaranteed pod.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- App version:
- Kubernetes version (use `kubectl version`):
- Install details (e.g. helm install args):
- Others:

[2022-07-26 11:52] ZYecho commented on #411
/assign

[2022-07-26 13:39] zwzhang0107 commented on #395
#412

[2022-07-26 13:39] zwzhang0107 commented on #395
kubelet with static cpu-manage-policy

[2022-07-27 04:19] zwzhang0107 commented on #411
also, we need to avoid all be cpusets bind to one LSR pod.

[2022-08-01 01:47] saintube commented on #407
link #369

[2022-08-01 08:54] #188 closed

[2022-08-01 11:55] #224 closed

[2022-08-01 11:56] #227 closed

[2022-08-01 11:57] eahydra commented on #345
implemented by #386

[2022-08-01 11:57] #345 closed

[2022-08-01 11:57] #232 closed

[2022-08-02 02:54] saintube opened #429 "[BUG] Reservation status got duplicated owners when scheduler is not permitted to patch pod."
**What happened**:

In koordinator v0.5, the default koord-scheduler service account has no permission to patch pods, while the reservation plugin patches pods with annotations of reservation allocated info. So with the default RBAC, the reservation plugin cannot patch the pod which allocates a reservation, and then the `CurrentOwners` status will display duplicated info of the pod.

[code]

**Wha

[2022-08-02 02:54] saintube commented on #429
/assign

[2022-08-02 02:55] saintube commented on #429
/milestones v0.6

[2022-08-02 03:18] #429 closed

[2022-08-02 06:47] eahydra commented on #202
#398  proposal from @buptcozy

[2022-08-02 06:47] eahydra commented on #396
same as #202

[2022-08-02 06:47] #396 closed

[2022-08-02 06:49] eahydra commented on #196
#404 implement the PodMigrationJob controller

[2022-08-02 06:53] #214 closed

[2022-08-02 06:55] eahydra opened #430 "[proposal] koord-descheduler support eviction arbitrate mechanism"
**What is your proposal**:

At present koordinator descheduler supports the new eviction API called `PodMigrationJob` CRD. But the eviction arbitration mechanism that has been designed has not been implemented yet.

**Why is this needed**:

We should implement the eviction arbitrate mechanism to improve eviction stability.

**Is there a suggested solution, if so, please add it**:

[2022-08-02 07:07] #196 closed

[2022-08-02 07:55] hormes commented on #332
Consider adding an extension point for this conversion in the scheduler, so that the koordi-scheduler can identify the protocol on the existing Pods and schedule the new Pods correctly.

[2022-08-03 08:15] codingknees opened #435 "[proposal]不能来个中文文档吗？"
**What is your proposal**:
中文文档？

**Why is this needed**:
英文看着费劲

**Is there a suggested solution, if so, please add it**:
社区翻译一下？拉我？

[2022-08-03 10:12] honpey opened #436 "[proposal] koord-runtime-proxy: Introduce TimeoutIgnore when calling hookServer timeouting"
**What is your proposal**:

**Why is this needed**:

**Is there a suggested solution, if so, please add it**:

[2022-08-03 14:01] cheimu opened #437 "[BUG]koord-runtime-proxy failed to proxy exec request without -it option"
**What happened**:
Any scenario involving with exec request, including `ExecSync` for docker, `PostStartHook` for pod Lifecycle, and readiness probe etc., the exec will be failed as shown below.
<img width="1399" alt="image" src="https://user-images.githubusercontent.com/13050415/182624107-78d2aca1-506a-45e1-a902-449f3b3d5352.png">

**What you expected to happen**:
They should be executed successf

[2022-08-03 14:17] jasonliu747 commented on #435
太好了，我看英文也十分费劲😭
方便留个联系方式，我们一起参与翻译的工作吗～

[2022-08-04 07:53] eahydra opened #439 "[BUG] reservation scheduled failed without any messages"
**What happened**:

1. Create a Reservation with empty owners
2. koord-scheduler does not update Reservation status for long time
3. query the scheduler log that get invalid owners message about Reservation

**What you expected to happen**:

1. If Reservation with any error, update the message to the status.

**How to reproduce it (as minimally and precisely as possible)**:

1. Create a Reservatio

[2022-08-04 08:06] eahydra opened #440 "[proposal] Reservation support allocate once semantics"
**What is your proposal**:

Reservation support allocate once semantics.

**Why is this needed**:

The Reservation currently supported by koord-scheduler is valid until the TTL expires.

However, in some scenarios, it is expected that the Reservation will fail after being consumed, so as to avoid the problem that the Reservation will continue to occupy and waste resources after the Pod associated

[2022-08-04 08:17] eahydra opened #441 "[proposal] Reservation support custom priority"
**What is your proposal**:

Reservation should support custom priority.

**Why is this needed**:

PodMigrationJob Controller migrates the target Pod via the Reservation, and during migration,  the controller tracks the Reservation status to determine whether has newly created Pod assigned with the Reservation. But if there are many Reservations that have same Owner, koord-scheduler will select one

[2022-08-04 08:31] #340 closed

[2022-08-04 09:33] wangxiaoq opened #443 "[BUG] panic: runtime error: invalid memory address or nil pointer dereference"
**What happened**:

I deploy koordinator in a K8s cluster, and one node start koord-runtime-proxy failed with the following error messages, other nodes are ok:

[code]

**What you expected to happen**:

koord-runtime-proxy start successfully

**How to reproduce it (as minimally and precisely as possible)**:

Just install koordinator on a node.

**Anything else we need to know?**:

**Environment**:

[2022-08-04 10:02] wangxiaoq commented on #443
more info:

I found errors in kubelet logs:

[code]

`b533e8e0efb6d6b2231488c57f2f83b1125935293fcfb903b9e8b109256688d6` is an exited containers, and after the deletion of this container, the koord-runtime-proxy start successfully.

If you think it's not a problem, please close it, thank you!

[2022-08-04 10:29] hormes commented on #443
docker or containerd environment？

[2022-08-04 10:32] #439 closed

[2022-08-04 10:54] wangxiaoq commented on #443
containerd 1.4.11

[2022-08-04 11:35] cheimu commented on #443
Hi @wangxiaoq , could you try v0.6.0 or the latest code? Since this may be fixed in pr https://github.com/koordinator-sh/koordinator/pull/355 which is released in v0.6.0

[2022-08-05 06:24] #443 closed

[2022-08-08 02:47] jasonliu747 commented on #395
/close

[2022-08-08 02:47] #395 closed

[2022-08-08 06:17] jasonliu747 opened #450 "[BUG] golangci 1.48: "Error: File is not gofmt-ed with -s (gofmt)""
**What happened**:
Github actions pulling golangci-lint 1.48 result in the error:
[code]

**Environment**:
[code]

[2022-08-08 06:23] #450 closed

[2022-08-08 06:33] hormes commented on #435
官方网站是可以支持多语言的，有兴趣来主导文档中文化这个项目吗？

[2022-08-08 07:31] songtao98 opened #451 "[proposal] Interference detection mechanism support for better job scheduling ability"
**What is your proposal**:
Add interference detection mechanism into koordinator to improve the QoS of online jobs.

**Why is this needed**:
A hybrids workloads orchestration system should give priority to ensuring the normal operation of online services. When the latency sensitive workloads needs more resources, the batch jobs should return the resources in time. Through building interference det

[2022-08-10 04:23] hormes opened #457 "[BUG] koordlet is not compatible with kubelet using --config to set static policy"
**What happened**:

When kubelet uses --config to set static policy, koordlet cannot perceive the corresponding configuration, which will cause compatibility problems.

[2022-08-10 06:54] j4ckstraw opened #459 "[BUG] Walkfunc should check error"
**What happened**:
filepath.Walk in `getBECgroupCPUSetPathsRecursive` not check the err value.

**What you expected to happen**:
Walkfunc should check error
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- App version:
- Kubernetes version (use `kubectl version`):
- Install details (e.g. helm install args):
- Others:

[2022-08-10 07:11] eahydra opened #462 "[proposal] koord-scheduler should support debugging API"
**What is your proposal**:

koord-scheduler should support debugging API.

The API should support the following services:

- query the node info
- query pod info
- query the plugin's internal state
- enable/disable log score details
- ...

**Why is this needed**:

It can efficiently troubleshoot, diagnose and analyze scheduling failures or abnormal problems.

**Is there a suggested solution, if so

[2022-08-10 07:11] eahydra commented on #462
cc @buptcozy

[2022-08-11 02:53] hormes opened #466 "Wanted: Who is using Koordinator | 如果贵司正在使用 Koordinator 欢迎留言"
## Who is using Koordinator
First of all, thanks sincerely for your use and support of Koordinator, which is still in the stage of rapid development. We will do our best to make Koordinator better, and keep the community and ecosystem growing.

### The purpose of this issue
We’d like to listen to the community to make Koordinator better.
We want to attract more people to contribute to Koordinator.

[2022-08-11 05:26] saintube opened #468 "[BUG] The reservation status can be incorrect or stale"
**What happened**:

In the current version, the reservation plugin does not update both the reservation status and pod annotation atomically, which may lead to incorrect status. If the scheduler restarted unexpectedly or failed to bind the pod which allocated reserved resources, the values of `CurrentOwners` and `Allocated` in reservation status would be stale.

e.g. Pod P matches reservation R an

[2022-08-11 05:27] saintube commented on #468
/area koord-scheduler
/assign @saintube

[2022-08-11 08:58] zwzhang0107 commented on #83
/assign zwzhang0107

[2022-08-11 08:59] zwzhang0107 commented on #83
/area koord-manager
/area koord-scheduler

[2022-08-11 09:09] xulinfei1996 commented on #202
/assign

[2022-08-11 11:19] zwzhang0107 commented on #83
/close

[2022-08-11 11:19] #83 closed

[2022-08-11 12:18] #457 closed

[2022-08-11 13:05] #468 closed

[2022-08-11 13:08] #437 closed

[2022-08-12 02:56] jasonliu747 opened #477 "[BUG] duplicate signed-off by lines in commit message"
**What happened**:
Discovered by @eahydra. After #240 got merged, there are always two `Signed-off by` lines in commit message.
![image](https://user-images.githubusercontent.com/24452340/184276377-e2ee4f3d-3a48-40ca-af56-c2fdb0d050ef.png)

**What you expected to happen**:
Expect only one `Signed-off by` in commit message like it always has been.
![image](https://user-images.githubusercontent.com/

[2022-08-12 07:47] saintube opened #482 "[proposal] slo-controller should record events when failed to unmarshal configmap or pod qos config annotation"
**What is your proposal**:

The slo-controller should record events when failed to unmarshal configmap or pod's qos config on annotation.

When we want to update the configurations for the koordlet or resource overcommitment, we modify the json data in the slo-controller-config (a configmap in the namespace koordinator-system), and the slo-controller parses the data into node-level configs (in CRD

[2022-08-12 07:47] saintube commented on #482
/area koord-manager
/area koordlet

[2022-08-12 09:20] #440 closed

[2022-08-13 02:55] jasonliu747 commented on #477
/assign

[2022-08-13 02:57] jasonliu747 commented on #477
看来 Github 又偷偷做了更新，把 Pull Request 的配置修改成如下，即可解决问题
<img width="527" alt="image" src="https://user-images.githubusercontent.com/24452340/184465891-142315c7-3f64-43b2-bcc8-6a2abf04e229.png">

[2022-08-13 02:57] #477 closed

[2022-08-15 03:11] #411 closed

[2022-08-16 08:25] saintube opened #489 "[BUG] unexpected cfs throttles on cpuset pods if cfs_quota_us is set"
**What happened**:

When pods are scheduled and started with static CPU binding policy and Linux cpuset controller, we expect that the pod/containers can use all the cpuset CPUs and not get throttled by Linux CFS Bandwidth Control. However, there are results which pods still have chance to get cfs throttled if `cpu.cfs_quota_us` is set (according to container's CPU limit).

e.g.

Pod A:

[code]

[

[2022-08-16 08:26] saintube commented on #489
/area koordlet

[2022-08-16 10:09] eahydra opened #490 "[proposal] enhance load-aware scheduling deal with terminated pod"
**What is your proposal**:

enhance load-aware scheduling deal with terminated pod

**Why is this needed**:

Currently load-aware scheduling relies on NodeMetrics, but if Pods are terminated before NodeMetrics is reported and new Pods are scheduling, the effect of load-aware scheduling may not be ideal.

**Is there a suggested solution, if so, please add it**:

[2022-08-16 10:31] caohe commented on #332
hello, I am confused which GPU-related information is in Device CRD and which is in NodeMetric CRD. In my understanding, information is organized as:

Device CRD:
- basic info (uuid, minor, model, health...)
- resource capacity
- resource allocated?
- topology info
- pods that scheduled to this GPU

NodeMetric CRD:
- resource usage

I am wondering:
1.  whether my understanding is correct
2. whethe

[2022-08-17 06:50] zwzhang0107 opened #493 "[BUG] use kubeletEndpoint in node status to get kubelet pid"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- App version:
- Kubernetes version (use `kubectl version`):
- Install details (e.g. helm install args):
- Others:

daemonEndpoints:
  kubeletEndpoint:
    Port: 10250

[2022-08-17 06:50] zwzhang0107 commented on #493
/assign ZYecho
/area koordlet
/milestone 0.7

[2022-08-17 09:25] zwzhang0107 commented on #482
also add event to pod if annotation specifies wrong qos config such as cpuBrust/memoryQOS

[2022-08-17 11:16] zwzhang0107 opened #496 "[proposal] register hook plugins of koordlet to runtime proxy auto at start"
**What is your proposal**:

**Why is this needed**:

**Is there a suggested solution, if so, please add it**:

[2022-08-17 11:16] zwzhang0107 commented on #496
/area koordlet

[2022-08-17 12:26] zwzhang0107 commented on #496
/assign songtao98

[2022-08-17 12:46] zwzhang0107 opened #498 "[proposal] add config for enable/disable memory overcommitment"
**What is your proposal**:

**Why is this needed**:

**Is there a suggested solution, if so, please add it**:

[2022-08-17 12:47] zwzhang0107 commented on #498
/area koord-manager

[2022-08-17 13:02] eahydra opened #499 "[BUG] The Succeeded phase of the Reservation changes to Failed"
**What happened**:

1. create Reservation A  with TTL 1 minute
2. create Pod A
3. the Pod A scheduled with the Reservation A, and the Reservation A `status.phase` is `Succeeded`
4. After 1 minute, the Reservation `status.phase` becomes `Failed`

**What you expected to happen**:

1. Don't change the `status.phase` of Reservation from `Succeeded` to `Failed`

**How to reproduce it (as minimally and

[2022-08-18 05:30] #499 closed

[2022-08-18 07:46] songtao98 commented on #496
/assign

[2022-08-19 03:18] zwzhang0107 commented on #332
1. yes
2. yes, in next few versions
3. batch gpu resource is still under design, maybe should defined in Device CRD

[2022-08-21 09:28] ZiMengSheng opened #508 "[proposal] support to set global default over-commitment ratio"
**What is your proposal**:

**Why is this needed**:

**Is there a suggested solution, if so, please add it**:

[2022-08-22 02:40] songtao98 commented on #482
/assign

[2022-08-23 06:52] honpey commented on #436
To hint hookServer by label  (e.g.  koordinator.sh/hookserver: true) if hookServer deployed as k8s container, runtime-proxy should transfer request for such specified pod to backend docker/containerd transparently.

[2022-08-23 07:25] jasonliu747 commented on #493
/unassign @ZYecho

[2022-08-23 07:28] eahydra commented on #280
#498

[2022-08-23 07:33] dongzx666 commented on #493
/assign

[2022-08-23 08:22] songtao98 opened #512 "[proposal] Report the health of the component itself through prometheus"
**What is your proposal**:
Define some prometheus metrics to scrape abnormal events through koordinator lifecycle. These metrics are used to reflect component health while they're running.

**Why is this needed**:
Components of koordinator such as koordlet have high correlation with native k8s modules and abnormal event happens occasionally. For example, when koordlet requests kubelet or api-serve

[2022-08-23 11:59] jasonliu747 commented on #459
/assign @j4ckstraw

[2022-08-23 12:50] zwzhang0107 commented on #496
/milestone v0.7

[2022-08-24 08:54] songtao98 commented on #482
/assign

[2022-08-25 02:00] #482 closed

[2022-08-25 08:52] #459 closed

[2022-08-25 09:18] j4ckstraw opened #525 "REQUEST: New membership for j4ckstraw"
### GitHub Username

j4ckstraw

### Requirements

- [X] I have reviewed the [community membership guidelines](https://github.com/koordinator-sh/koordinator/blob/main/docs/community/community-membership.md)
- [x] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I am actively contributing to 1 or more Koordinator subprojects
- [X] I have two sponsors that meet th

[2022-08-25 09:22] jasonliu747 commented on #525
+1
We would love to have you onboard!

[2022-08-25 09:24] saintube commented on #525
+1
Welcome! 🎉🎉🎉

[2022-08-25 09:29] #496 closed

[2022-08-25 09:54] songtao98 opened #527 "REQUEST: New membership for songtao98"
### GitHub Username

@songtao98

### Requirements

- [X] I have reviewed the [community membership guidelines](https://github.com/koordinator-sh/koordinator/blob/main/docs/community/community-membership.md)
- [x] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [x] I am actively contributing to 1 or more Koordinator subprojects
- [X] I have two sponsors that meet t

[2022-08-25 10:00] jasonliu747 commented on #527
+1
Welcome! Thanks for your contributions so far.

[2022-08-25 11:34] eahydra opened #528 "[proposal] improve the readability of Reservation's unschedulable message and report event"
**What is your proposal**:

improve the readability of Reservation's unschedulable message and report event

**Why is this needed**:

in the latest version,  scheduler just update Reservation status with unschedulable message but slightly less readable. Also missing Event.

**Is there a suggested solution, if so, please add it**:

[2022-08-25 11:44] eahydra opened #530 "[BUG] The frequency of retry scheduling Reservation is high"
**What happened**:

1. create a Reservation and affinity one non-existing Node
2. Looking at the scheduler's log, it can be found that when a scheduling Reservation fails, it is retried immediately.

**What you expected to happen**:

1. if failed to schedule,  enter the back-off/unscheduable scheduling queue

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we nee

[2022-08-25 12:58] zwzhang0107 opened #533 "[proposal] support qos policy on annotation of namespace, which takes effect to all pods of the namespace"
**What is your proposal**:

**Why is this needed**:

**Is there a suggested solution, if so, please add it**:

[2022-08-25 13:35] eahydra opened #534 "[BUG] cannot stop default preemption if Reservation scheduling fails"
**What happened**:

1. create a Reservation that must be failed to schedule
2. watch scheduler log, you will look the default preemption log

**What you expected to happen**:

stop default preemption if Reservation scheduling fails

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- App version:
- Kubernetes version (use `kube

[2022-08-25 16:49] jasonliu747 commented on #369
/close
Let's track this in #407

[2022-08-25 16:49] #369 closed

[2022-08-25 16:54] jasonliu747 commented on #222
/unassign @rudeigerc

[2022-08-25 16:54] #222 closed

[2022-08-25 16:59] #141 closed

[2022-08-25 17:06] jasonliu747 commented on #331
/close
I'll close this due do inactivity temporarily. Feel free to re-open it.

[2022-08-25 17:06] #331 closed

[2022-08-26 06:20] #528 closed

[2022-08-26 06:20] #530 closed

[2022-08-26 06:20] #534 closed

[2022-08-26 07:17] eahydra commented on #512
I remember that if Prometheus scape target Pod successfully, Prometheus will generate a metric named `up` with value 1, otherwise the value is 0.

[2022-08-26 07:20] eahydra commented on #512
That's another story if you want to consider monitoring the deeper state inside the component.

[2022-08-26 07:21] buptcozy opened #539 "REQUEST: New membership for buptcozy"
### GitHub Username

@buptcozy

### Requirements

- [X] I have reviewed the [community membership guidelines](https://github.com/koordinator-sh/koordinator/blob/main/docs/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I am actively contributing to 1 or more Koordinator subprojects
- [X] I have two sponsors that meet th

[2022-08-26 07:22] eahydra commented on #508
add more details?

[2022-08-26 07:24] eahydra commented on #430
now support some flow control and Protection mechanisms for workload availability.

#519 #520 #522

[2022-08-26 07:26] eahydra commented on #539
![image](https://user-images.githubusercontent.com/832246/186846593-c29f3c25-4a1b-494e-89e3-1a470195cd34.png)

[2022-08-26 07:27] eahydra commented on #539
+1  🚀🚀🚀🚀🚀🚀🚀🚀🚀🚀🚀

[2022-08-26 07:28] eahydra commented on #527
Welcome!

[2022-08-26 07:28] eahydra commented on #525
Welcome!

[2022-08-26 07:57] jasonliu747 commented on #539
+1
![image](https://user-images.githubusercontent.com/24452340/186852396-f5764173-21dc-46ff-a495-b4a04953b907.png)

[2022-08-29 07:57] hormes commented on #539
I have sent a invitation, please check.

[2022-08-29 08:31] zwzhang0107 opened #546 "[BUG] failed to use cpu suppress for BE pods on K8s 1.18 with kubelet cpu-static policy"
**What happened**:
if kubelet specifies `static` option for `cpu-policy`, when enable cpu suppress policy, BE pod will be failed created with error:
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- App version:
- Kubernetes version (use `kubectl version`): kubelet 1.18
- Install deta

[2022-08-29 08:31] zwzhang0107 commented on #546
/area koordlet
/milestone v0.7

[2022-08-29 08:34] zwzhang0107 commented on #546
the reason is that the container create procedure of kubelet 1.18 is different.

kubelet will create container with empty cpuset first

then update container resource with cpuset

[2022-08-29 08:58] jasonliu747 commented on #539
/close

[2022-08-29 08:58] #539 closed

[2022-08-29 10:11] #462 closed

[2022-08-31 05:35] #441 closed

[2022-08-31 13:00] saintube opened #566 "[proposal] Reservation supports fine-grained CPU orchestration"
**What is your proposal**:

Reservation should support fine-grained CPU orchestration. i.e. A reservation can allocate fine-grained CPU resources via our NodeNUMAResource plugin, and an owner pod can allocate reserved fine-grained CPU resources and get the same CPU binding result.

Furthermore, we expect a generic approach for other scheduling plugins to get compatible with the resource reservatio

[2022-08-31 13:00] saintube commented on #566
/area koord-scheduler

[2022-08-31 13:05] jasonliu747 commented on #193
/close

[2022-08-31 13:05] #193 closed

[2022-08-31 13:05] jasonliu747 commented on #107
/close

[2022-08-31 13:05] #107 closed

[2022-08-31 13:05] jasonliu747 commented on #288
/close

[2022-08-31 13:05] #288 closed

[2022-09-01 07:19] eahydra commented on #229
/close

[2022-09-01 07:19] #229 closed

[2022-09-01 07:19] eahydra commented on #346
/close

[2022-09-01 07:19] #346 closed

[2022-09-01 07:22] jasonliu747 commented on #233
/close

[2022-09-01 07:22] #233 closed

[2022-09-01 07:26] zwzhang0107 commented on #527
/lgtm

[2022-09-01 08:04] #508 closed

[2022-09-01 08:53] eahydra opened #569 "[BUG] koord-runtime-proxy cannot connect to koordlet via unixsocket"
**What happened**:

1. apply the latest koordlet image and set the newly added configuration parameters.
[code]
2. the koord-runtime-proxy cannot connect to koordlet via the `/host-var-run-koordlet/koordlet.sock`

**What you expected to happen**:

add  a new parameter to set the host-level socket path.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to k

[2022-09-01 08:53] eahydra commented on #569
/assign @zwzhang0107

[2022-09-01 08:54] eahydra commented on #569
fixed by #556

[2022-09-01 08:59] eahydra opened #570 "[BUG] koordlet does not report the CPU allocation result of kubelet correctly"
**What happened**:

1. Configure kubelet CPU Manager policy to `static`
2. Create a K8s Guaranteed Pod with CPU `2`
3. Install the koordlet
4. Query the NodeResourceTopology of target Node,  koordlet reports the CPU policy `static` but missing the Pod's CPU information that created in step 2

**What you expected to happen**:

1. report the K8s Guaranteed Pod's CPU information

**How to reproduce i

[2022-09-01 08:59] eahydra commented on #570
/assign @ZYecho

[2022-09-01 09:22] #546 closed

[2022-09-01 09:22] #569 closed

[2022-09-02 07:48] #381 closed

[2022-09-05 02:45] #493 closed

[2022-09-05 07:34] fighterhit opened #583 "[proposal] 实现支持隔离并兼顾应用性能的 GPU 共享/虚拟化方案"
**What is your proposal**:

AI 任务一般都会用到 GPU，这类资源相对 CPU/内存来说往往更加昂贵，目前实现混部的开源方案有很多，基本是通过内核 cgroup 特性针对传统 CPU 任务来做，真正实现 GPU 混部的方案却很少。因此，实现支持 QoS  based GPU 共享/虚拟化，即在支持 **故障隔离、显存隔离、算力隔离** 的同时 **兼顾 GPU 应用性能**，对混部来说是一种差异化竞争，意义重大。

**Why is this needed**:

目前业界已有的一些 GPU 共享/虚拟化方案：
- 不支持隔离但同 GPU 可以挂多 Pod（可能被大家称为“软隔离”）:
  - 阿里云 [gpushare-scheduler-extender](https://github.com/AliyunContainerService/gpushare

[2022-09-05 08:14] #203 closed

[2022-09-05 09:01] buptcozy commented on #583
https://www.usenix.org/conference/osdi20/presentation/xiao 在框架层面也是可以做一些工作的

[2022-09-05 13:22] jasonliu747 opened #586 "[proposal] build tsdb framework and interface for refactor of `metric_cache` in koordlet"
**What is your proposal**:
see #1241 for full description.

**Why is this needed**:

**Is there a suggested solution, if so, please add it**:

[2022-09-06 09:27] fighterhit commented on #583
嗯，但这种方式对用户不太友好

[2022-09-06 09:38] #321 closed

[2022-09-06 09:44] cheimu commented on #583
投mps一票

[2022-09-06 09:45] cheimu commented on #583
同意。这种需要框架运行时支持的，不可能去做一一适配，感觉只会出现在公司内部的场景，有专门的团队做运维和场景适配。

[2022-09-07 14:18] jasonliu747 commented on #586
/cc @LambdaHJ
辛苦在这下面补充一下你之前的尝试，还有遇到的问题，谢谢～

[2022-09-07 14:25] jasonliu747 commented on #66
/unassign @eahydra

[2022-09-07 14:25] jasonliu747 commented on #210
/assign

[2022-09-07 14:26] jasonliu747 commented on #332
/assign

[2022-09-07 14:28] jasonliu747 commented on #586
/assign @LambdaHJ

[2022-09-08 02:43] jasonliu747 commented on #489
/assign @saintube

[2022-09-08 06:08] eahydra commented on #570
fixed by https://github.com/koordinator-sh/charts/pull/43

[2022-09-08 06:08] eahydra commented on #570
/close

[2022-09-08 06:08] #570 closed

[2022-09-08 08:07] jasonliu747 commented on #512
/assign @songtao98

[2022-09-08 08:08] jasonliu747 commented on #583
/assign

[2022-09-08 08:15] eahydra opened #600 "[proposal] export coscheduling internal state via Restful API"
**What is your proposal**:

Wants to export coscheduling internal state via Restful API to improve the efficiency of troubleshooting

**Why is this needed**:

**Is there a suggested solution, if so, please add it**:

coscheduling plugin implements the interface `APIServiceProvider` to export the following endpoints:
- `/gang/:namespace/:name` exports the internal `Gang` by the namespace and name.

[2022-09-08 08:16] Wenshiqi222 commented on #600
/assign

[2022-09-13 12:10] LambdaHJ commented on #586
将指标使用tsdb存储，一些业务字段需要以label的方式存储到tsdb，如下：
[code]
这就要求查询metrics时返回数据要包含label。
但是使用到的嵌入式[tsdb](https://github.com/nakabonne/tstorage)查询返回不包含label。
https://github.com/nakabonne/tstorage/issues/36

[2022-09-13 14:53] d821776892 opened #610 "[proposal]podMigrationJob 超时回滚"
**What is your proposal**:
podMigrationJob如果发起了驱逐，但未在规定时间内驱逐成功，则进行驱逐回滚，回滚到发起驱逐之前的状态。

**Why is this needed**:

通过PodMigrationJob的扩展机制，适配了内部自定义的驱逐机制，这个驱逐机制是一个过程式的，并不是立刻删除Pod，因此会出现部分pod无法驱逐，如果不能实现超时回滚功能，则会让不能驱逐的pod打上驱逐标签。这对于用户来说这是不合理的。

**Is there a suggested solution, if so, please add it**:

[2022-09-13 15:45] jasonliu747 commented on #610
/assign @eahydra

[2022-09-14 08:44] jasonliu747 opened #614 "[proposal] add a compatibility matrix in README"
**What is your proposal**:
README 加上 Compatibility Matrix，这样用户可以清晰的了解到 Koordinator 每个 Release 所支持的 K8s 版本。

[2022-09-15 03:16] jasonliu747 commented on #614
/assign

[2022-09-15 10:21] jasonliu747 opened #618 "[BUG] Node.Status should not display device resource when there is no corresponding device"
**What happened**:
![image](https://user-images.githubusercontent.com/24452340/190379587-c591f4d7-611e-4ab7-933e-8a6fa7bb9a3e.png)
这是纯 CPU 节点所显示的资源情况。

**What you expected to happen**:
理论上，节点如果没有 GPU 的话，是不应该显示 GPU 相关的 Extended resource。

/assign @ZYecho

[2022-09-16 02:43] jasonliu747 opened #621 "[proposal] migrate apis and generated clients to koordinator-sh/apis"
**What is your proposal**:

**Why is this needed**:

**Is there a suggested solution, if so, please add it**:

[2022-09-16 07:28] eahydra commented on #600
/close

[2022-09-16 07:28] #600 closed

[2022-09-16 08:39] jasonliu747 opened #629 "[BUG] Device CRD is empty when node does have GPU"
**What happened**:
Node `cn-hangzhou.10.0.2.216` has 4 V100s mounted.
[code]

However, Device CRD is empty.
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- App version: commit `15d801f`
- Kubernetes version (use `kubectl version`):
- Install details (e.g. helm install args):
- Other

[2022-09-16 08:40] jasonliu747 commented on #629
/area koordlet
/assing @ZYecho

[2022-09-16 08:40] jasonliu747 commented on #629
/assign @ZYecho

[2022-09-16 08:41] jasonliu747 commented on #618
/area koordlet

[2022-09-16 10:02] ZYecho commented on #629
W0916 17:46:26.023704  101957 collector_gpu_linux.go:71] nvml init gpu data, error unable to get device count: nvmlErrorString Function Not Found

[2022-09-16 10:40] jasonliu747 opened #630 "[BUG] nvml.DeviceGetCount() returns ERROR_FUNCTION_NOT_FOUND"
**What happened**:
After #592 got merged, koordlet will throw the following errors.
![image](https://user-images.githubusercontent.com/24452340/190621317-a65bbedf-9183-4897-9429-c35f4c1a303a.png)

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- App version:
- Kubernetes version (use `kubect

[2022-09-16 10:41] jasonliu747 commented on #630
/area koordlet

[2022-09-16 10:42] jasonliu747 commented on #630
目前猜测是因为 cadvisor 间接引入了 github.com/mindprince/gonvml
![image](https://user-images.githubusercontent.com/24452340/190621442-fb49a069-03d1-4ef4-9ce7-db9969f1aae8.png)

[2022-09-16 10:52] jasonliu747 commented on #630
/assign @jasonliu747
/assign @eahydra

[2022-09-19 02:28] jasonliu747 commented on #630
related issue: https://github.com/google/cadvisor/issues/3171

[2022-09-19 02:30] jasonliu747 commented on #629
@ZYecho Please rollback to commit `1beef08`, and test it again in the development environment.

[2022-09-19 03:02] jasonliu747 commented on #621
/assign

[2022-09-19 03:40] jasonliu747 commented on #629
/unassign @ZYecho

[2022-09-19 04:02] jasonliu747 commented on #630
会先维护一版不引入 gonvml 的 cadvisor，https://github.com/koordinator-sh/cadvisor/tree/v0.39.3-no-nvml

[2022-09-19 04:03] jasonliu747 commented on #630
会先内部维护一版不引入 gonvml 的 cadvisor，https://github.com/koordinator-sh/cadvisor/tree/v0.39.3-no-nvml，同时推动上游社区将 gonvml 替换成 go-nvml。

[2022-09-19 04:12] #630 closed

[2022-09-19 06:51] #629 closed

[2022-09-21 04:04] #618 closed

[2022-09-21 07:30] hormes commented on #621
Actually we should release the API during the version release phase.

[2022-09-22 09:29] JasonRD commented on #583
公司内部这几种都有做过对比。第二种随模型迭代发展，后期维护成本非常高。还是看好第三种，希望大厂能开源共建。

[2022-09-23 02:20] jasonliu747 opened #655 "[BUG] minor in device crd is empty when it should be 0"
**What happened**:
![image](https://user-images.githubusercontent.com/24452340/191881153-c3b80b22-2fbb-4e30-ba0d-dd8356227c31.png)

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- App version:
- Kubernetes version (use `kubectl version`):
- Install details (e.g. helm install args):
- Others

[2022-09-23 02:20] jasonliu747 commented on #655
/assign

[2022-09-23 06:18] zwzhang0107 commented on #586
可以考虑用prometheus的tsdb库
https://github.com/prometheus/prometheus/tree/main/tsdb

[2022-09-23 07:29] LambdaHJ commented on #586
prometheus的tsdb必须要写磁盘。
![image](https://user-images.githubusercontent.com/12655469/191911129-c81da2c1-4d9a-40f4-b87a-f75a9950df26.png)
可能需要挂载hostpath.

[2022-09-23 10:18] fjding opened #657 "[question] in elasticquota plugin，is the method syncHandler() update quota cr too frequently?"
**What happened:**
if the patch operation takes 20ms,  the apiserver need to add 50 times/s overhead？

**What you expected to happen:**

**Environment:**

- Koordinator version: - v0.6.2
- Kubernetes version (use kubectl version): v1.22.5
- docker/containerd version: containerd 1.5.0
- OS (e.g: cat /etc/os-release): Ubuntu 20.04.4 LTS
- Kernel (e.g. uname -a): Linux 5.10.112-11.al8.x86_64 #1 SMP T

[2022-09-27 05:28] vivianzh opened #661 "[BUG] koordlet failed to collect CPU/memory info from cgroup fs"
**What happened**: koordlet failed to collect CPU/memory info from cgroup fs

**What you expected to happen**:  Koordlet can collect info from cgroup

**How to reproduce it (as minimally and precisely as possible)**:
1. Install koordinator:  helm install koordinator koordinator-sh/koordinator --version 0.7;
2. Check koodlet logs.

**Environment**:
- App version: 0.7.0
- Kubernetes version (use `ku

[2022-09-27 06:11] jasonliu747 commented on #661
/area koordlet

[2022-09-27 06:14] zwzhang0107 commented on #661
`cgroup v2` has not support yet, we will update this issue if this is updates, any comments is welcomed.
https://github.com/koordinator-sh/koordinator/issues/407

[2022-09-27 06:34] vivianzh commented on #661
More log updated:  collect container kube-system/coredns-565d847f94-ksdgk/coredns cpu throttled failed, err open /host-cgroup/cpu/kubepods.slice/kubepods-burstable.slice/kubepods-burstable-pod3089d7a8_a983_4649_9088_39efe764e4b4.slice/**cri-containerd-95f5f3fbc401447ebe9b25ba6be81be590995283f219e3ad469fb3bcc17a328b.scope**/cpu.stat: no such file or directory.
Then file /sys/fs/cgroup/cpu/kubepods.

[2022-09-27 07:44] vivianzh commented on #661
The correct cgoup file in my system is below:
[root@cpu]#  find . -name *3089d7a8*
./system.slice/containerd.service/kubepods-burstable-pod3089d7a8_a983_4649_9088_39efe764e4b4.slice:cri-containerd:95f5f3fbc401447ebe9b25ba6be81be590995283f219e3ad469fb3bcc17a328b
./system.slice/containerd.service/kubepods-burstable-pod3089d7a8_a983_4649_9088_39efe764e4b4.slice:cri-containerd:2db2b26bb62261d56c6867e0

[2022-09-27 13:31] saintube commented on #661
could please show us the sub-paths of the pod cgroup?

e.g.
[code]

[2022-09-28 00:56] vivianzh commented on #661
[root@aee-icx ~]# tree /sys/fs/cgroup/cpu/kubepods.slice/kubepods-burstable.slice/kubepods-burstable-pod3089d7a8_a983_4649_9088_39efe764e4b4.slice/
/sys/fs/cgroup/cpu/kubepods.slice/kubepods-burstable.slice/kubepods-burstable-pod3089d7a8_a983_4649_9088_39efe764e4b4.slice/
├── cgroup.clone_children
├── cgroup.procs
├── cpuacct.stat
├── cpuacct.usage
├── cpuacct.usage_all
├── cpuacct.usage_percpu
├─

[2022-09-28 02:30] fighterhit commented on #583
看 [字节 GTC 2022](https://www.nvidia.com/gtc/session-catalog/?search=Maximizing%20GPU%20Utilza&tab.catalogallsessionstab=16566177511100015Kus#/session/1657041497952001Pamw) 介绍用了 vcuda+MPS，[百度](https://mp.weixin.qq.com/s/oyHGMcua_CRPfo1f5hvB0g)也在 MPS 上做了挺多，看起来如果能解决 MPS 故障隔离问题性能应该比其它时分复用好点

[2022-09-28 02:47] ryan2333 opened #664 "[BUG] koordlet throws `Can't get node` error during initialization"
**What happened**:
I0928 10:38:13.629577   57236 feature_gate.go:245] feature gates: &{map[Accelerators:true AllAlpha:true AuditEvents:true AuditEventsHTTPHandler:true BECPUEvict:true BECPUSuppress:true BECgroupReconcile:true BEMemoryEvict:true CPUBurst:true CgroupReconcile:true RdtResctrl:true]}
I0928 10:38:13.629695   57236 feature_gate.go:245] feature gates: &{map[AllAlpha:true CPUSetAllocator:

[2022-09-28 02:49] jasonliu747 commented on #664
/area koordlet

[2022-09-28 02:50] ryan2333 commented on #664
已收到，谢谢!!

[2022-09-29 07:56] saintube commented on #661
@vivianzh It is strange that no container cgroup exists under the pod cgroup path. Which kind of container runtime is in use? (runc, kata-runtime, etc.)

[2022-09-29 08:06] vivianzh commented on #661
Runc

[2022-09-29 09:47] buptcozy opened #665 "[proposal] koordlet should report gpu card type like(A100\V100) to node lebel"
**What is your proposal**:
![image](https://user-images.githubusercontent.com/24452340/193173542-3e59e12e-e21d-4775-b551-d9559107e97e.png)

**Why is this needed**:

**Is there a suggested solution, if so, please add it**:

[2022-09-29 11:32] zwzhang0107 commented on #664
could you please show more details about pod cgroup info, e.g. the content of dir
[code]

[2022-09-29 11:59] zwzhang0107 commented on #661
how about the version of operate system, ubuntu, centos?

[2022-09-30 01:11] vivianzh commented on #661
Centos8

[2022-09-30 01:49] ryan2333 commented on #664
[root@kubenode-243024 ~]# ls /sys/fs/cgroup/cpu/
cgroup.clone_children  cpuacct.usage             cpuacct.usage_percpu_user  cpu.cfs_period_us  cpu.rt_runtime_us  kubepods.slice     tasks
cgroup.procs           cpuacct.usage_all         cpuacct.usage_sys          cpu.cfs_quota_us   cpu.shares         notify_on_release  user.slice
cgroup.sane_behavior   cpuacct.usage_percpu      cpuacct.usage_user

[2022-09-30 02:15] jasonliu747 opened #668 "[BUG] Pod 被删除之后 GPU 账本中仍然存在该记录"
**What happened**:
![image](https://user-images.githubusercontent.com/24452340/193175666-bc8c9473-3602-4a22-9b0a-7b09266a8037.png)

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- App version:
- Kubernetes version (use `kubectl version`):
- Install details (e.g. helm install args):
- Node e

[2022-09-30 02:29] #668 closed

[2022-09-30 08:12] zwzhang0107 opened #670 "[BUG] pods with specified label should be ignored by koord-runtime-proxy for containerd/docker"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- App version:
- Kubernetes version (use `kubectl version`):
- Install details (e.g. helm install args):
- Node environment (for koordlet/runtime-proxy issue):
  - Containerd/Docker version:
  - OS version:
  - Kernal version

[2022-09-30 08:13] zwzhang0107 commented on #670
/area koord-runtime-proxy
/assigin ZYecho

[2022-09-30 08:14] zwzhang0107 commented on #670
/area runtime-proxy

[2022-09-30 08:14] zwzhang0107 commented on #670
/milestone 1.0

[2022-09-30 08:15] zwzhang0107 commented on #670
/milestone v1.0

[2022-09-30 08:16] #655 closed

[2022-10-08 02:55] #489 closed

[2022-10-08 07:45] zwzhang0107 commented on #664
i see.
seems the systemd dir(`kubepods.slice`) and cgroupfs dir (`kubepods`) both exists, which makes koordlet confused.
maybe the kubelet cgroup config has been changed before, you can try to remove the unused dir by `rmdir /sys/fs/cgroup/cpu/kubepod/`(also memory, blkio dir for safety) and reinstall koordlet.
if this works, then we can find a better way to make koordlet understand the cgroup dri

[2022-10-08 08:00] zwzhang0107 commented on #661
emm.. this seems a little weird. the cgorup dir of container and pod are. totally different.
have you ever changed the config of kubelet, for example the `--runtime-cgroups`.
it will be better if you can show the kubelet config and args.

[2022-10-08 11:13] zwzhang0107 commented on #670
/assigin honpey

[2022-10-08 15:26] eahydra opened #677 "[BUG] koordlet panic when startup"
**What happened**:

koordlet panic

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

run koordlet with latest code

**Anything else we need to know?**:

**Environment**:
- App version:
- Kubernetes version (use `kubectl version`):
- Install details (e.g. helm install args):
- Node environment (for koordlet/runtime-proxy issue):
  - Contai

[2022-10-08 15:32] jasonliu747 commented on #677
/area koordlet

[2022-10-08 15:52] eahydra opened #678 "[BUG] koordlet panic with GPU machine"
**What happened**:

koordlet panic

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- App version:
- Kubernetes version (use `kubectl version`):
- Install details (e.g. helm install args):
- Node environment (for koordlet/runtime-proxy issue):
  - Containerd/Docker version:
  - OS ver

[2022-10-09 06:06] #677 closed

[2022-10-09 08:39] jasonliu747 commented on #678
It's because we update Device CRD in #656.
Temporary solution would be upgrading Device CRD to the latest version, and restart koordlet.

[2022-10-10 11:43] vivianzh commented on #661
I didn't add any cgroup related configs.
 /usr/bin/kubelet --bootstrap-kubeconfig=/etc/kubernetes/bootstrap-kubelet.conf --kubeconfig=/etc/kubernetes/kubelet.conf --config=/var/lib/kubelet/config.yaml --container-runtime=remote --container-runtime-endpoint=unix:///var/run/containerd/containerd.sock --pod-infra-container-image=registry.k8s.io/pause:3.8
#cat /var/lib/kubelet/config.yaml
apiVersion:

[2022-10-11 11:55] saintube commented on #661
@vivianzh Could you please show the container statuses of the pod? There may be no container-level cgroup for a non-running container.

[2022-10-11 14:25] vivianzh commented on #661
[root@aee-icx kubepods.slice]# kubectl get pods ffmpeg-convert-mp4-job1 -o yaml | grep container
  containers:
  containerStatuses:
  - containerID: containerd://567952f476105ab4e9ac8a1007529be868f15d135a09dca897944cbe2ba019f3

[2022-10-12 10:06] zwzhang0107 opened #692 "[proposal] remove the `k8s.io/kubernetes` dependency in apis/scheduling package"
**What is your proposal**:
remove the `k8s.io/kubernetes` dependency in apis/scheduling package

**Why is this needed**:
apis will be released to `koordinator-sh/apis` independently for third-party.
the `k8s.io/kubernetes` imports may cause circular dependency.

**Is there a suggested solution, if so, please add it**:

[2022-10-12 11:34] jasonliu747 commented on #621
done
/close

[2022-10-12 13:28] zwzhang0107 opened #696 "[BUG] cpu.cfs_quota_us cannot be less than 1000, should be max(1000, batch-cpu/1000*cfs_period)"
**What happened**:
![image](https://user-images.githubusercontent.com/101699117/195355374-ae59003d-da66-4fc7-948c-9a302763963f.png)

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- App version:
- Kubernetes version (use `kubectl version`):
- Install details (e.g. helm install args):
- Node

[2022-10-12 13:28] zwzhang0107 commented on #696
/area koordlet

[2022-10-12 13:36] fjding opened #697 "[BUG]quota runtime caculate error"
**What happened**:
if my request cpu is 100m,  after quota caculate, the rumtime is 1 (1000m), why is not 100m?

**Anything else we need to know?**:
There is a loss of precision
fsc.quotaTree[resKey].updateRequest(quotaInfo.Name, reqLimitPerKey.Value())
maybe reqLimitPerKey.MilliValue() is valied

**Environment**:
- App version:
- Kubernetes version (use `kubectl version`):
- Install details (e.g.

[2022-10-13 03:15] xulinfei1996 commented on #697
https://github.com/koordinator-sh/koordinator/pull/675 this pr is to fix the runtime calculate error when the quota's request is  smaller than 1 core.

[2022-10-13 03:18] xulinfei1996 commented on #657
https://github.com/koordinator-sh/koordinator/pull/681/files this pr is to optimize some logics of the syncHandler, and SyncHandlerCycle can be a configuration if in need in the future.

[2022-10-13 03:45] fjding commented on #697
perfect

[2022-10-13 03:45] #697 closed

[2022-10-13 13:44] lengrongfu commented on #696
Hi, I am a newbie, can I fix this?

[2022-10-13 13:44] lengrongfu commented on #696
/assign

[2022-10-13 15:40] lengrongfu commented on #696
Is this a bug in the program? @zwzhang0107

[2022-10-14 02:46] vivianzh commented on #661
Any update for this issue?

[2022-10-14 04:16] saintube commented on #661
@vivianzh Container-level cgroups in your node are under `/system.slice/containerd.service`, while koordlet supposes they should be under `/kubepods.slice/kubepods-podxxxxx.slice/`. It seems a misconfiguration problem of containerd [cgroup driver](https://github.com/containerd/containerd/blob/main/docs/cri/config.md#cgroup-driver). Please check if the cgroup driver configurations of both container

[2022-10-14 05:53] vivianzh commented on #661
I have double checked cgroup driver configurations, no issues are found. This is my output of "systemctl statu containerd":
● containerd.service - containerd container runtime
   Loaded: loaded (/etc/systemd/system/containerd.service; disabled; vendor preset: disabled)
  Drop-In: /etc/systemd/system/containerd.service.d
           └─proxy.conf
   Active: active (running)
     Docs: https://contain

[2022-10-14 07:42] zwzhang0107 commented on #664
hi, is this workable for you?

[2022-10-14 12:02] #692 closed

[2022-10-17 07:20] zwForrest commented on #664
@zwzhang0107  this works for me.

[2022-10-17 07:22] zwForrest commented on #664
this works for me.

[2022-10-17 11:30] denverdino opened #705 "[BUG] Go build with error for SA1019: "io/ioutil" has been deprecated since Go 1.16"
**What happened**:

[code]

**What you expected to happen**:

No error

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

**Environment**:
- Go version: go1.19.2 darwin/arm64

[2022-10-17 13:18] #705 closed

[2022-10-17 13:19] hormes commented on #696
very welcome

[2022-10-18 09:21] leason00 opened #711 "[question] kubelet start error when Specify parameters --docker-endpoint"
**What happened:**
kubelet start error:
Oct 18 16:23:06 qabb-qa-k8s-qa-iaas-u01-node1 kubelet[889296]: I1018 16:23:06.894635  889296 container_manager_linux.go:306] Creating device plugin manager: true
Oct 18 16:23:06 qabb-qa-k8s-qa-iaas-u01-node1 kubelet[889296]: I1018 16:23:06.894651  889296 manager.go:133] Creating Device Plugin manager at /var/lib/kubelet/device-plugins/kubelet.sock
Oct 18 16:

[2022-10-18 09:44] zwzhang0107 opened #712 "[proposal] Koordinator supports working with Apache Hadoop YARN"
**What is your proposal**:
Koordinator supports working with YARN for resource sharing, so that batch workloads in YARN can share the unused resources of K8s workloads.

**Why is this needed**:
Although K8s has provided well-designed framework for batch workloads, there are still a lot of BigData jobs running on YARN in reality for some reasons. In order to improve cluster resource utilization, we

[2022-10-18 12:28] hormes commented on #711
Try to use the following way to start kubelet

[2022-10-18 12:33] leason00 commented on #711
It works， thx！

[2022-10-18 12:58] leason00 commented on #711
@hormes https://github.com/koordinator-sh/website/pull/87 Correction document

[2022-10-19 07:25] FillZpp opened #716 "[BUG] Koordlet failed to launch in KinD clusters or any other k8s clusters with custom kubelet flag `--cgroup-root`"
**What happened**:
Koordlet failed to launch in KinD clusters or any other k8s clusters with custom kubelet flag `--cgroup-root`.

It is because KinD defaults to set kubelet flag `--cgroup-root=/kubelet`, so that the real cgroup path is like `/sys/fs/cgroup/cpu/kubelet/kubepods/`.

**What you expected to happen**:
Koordlet should have a command-line flag to set cgroup sub root like kubelet (which

[2022-10-19 07:26] FillZpp commented on #716
/area koordlet

[2022-10-19 07:58] czhenly opened #717 "[proposal] Support kata container to use koordinator resources"
**What is your proposal**:
  Support kata container to use koordinator resources

**Why is this needed**:
For isolation requirements, I want to use kata container to run offline tasks, which is co-located with online tasks in a cluster.

**Current status**:
Pod yaml:
[code]

resource info in container:
[code]

kata config: configuration.toml
[code]
expect result: cpu: 5core `(4c+1c)`，memory：6g `(4

[2022-10-19 09:49] zwzhang0107 commented on #717
consider mv be cgroup reconcile into runtime-hook-plugins

[2022-10-19 09:49] zwzhang0107 commented on #717
/area koordlet

[2022-10-20 02:51] zwForrest opened #723 "[proposal] Add more node usage type in NodeMetric"
**What is your proposal**:
NodeMetric cr has more time period node usage metric, eg 1h/1d.

**Why is this needed**:
In this way, more node usage information can be referred to when scheduling or descheduling.

**Is there a suggested solution, if so, please add it**:
[code]
can NodeMetric be changed to slice? Object NodeMetricInfo adds a node usage type field, and each type may have its own update

[2022-10-20 03:15] LambdaHJ commented on #586
影响模块：metriccache
主要变更代码： storage.go storage_tables.go
副作用：可能会影响使用metriccache
方案：
	使用prometheus tsdb模块存储数据。
	由于tsdb一定需要写磁盘，规划挂载emptydir解决磁盘读写问题。

[2022-10-20 03:38] jasonliu747 commented on #711
/close

[2022-10-20 03:38] #711 closed

[2022-10-21 06:10] eahydra opened #730 "[BUG] koordlet UT failed when reporting topology"
**What happened**:

[code]

**What you expected to happen**:

UT passed

**How to reproduce it (as minimally and precisely as possible)**:

Run UT `Test_reportNodeTopology`

**Anything else we need to know?**:

**Environment**:
- App version:
- Kubernetes version (use `kubectl version`):
- Install details (e.g. helm install args):
- Node environment (for koordlet/runtime-proxy issue):
  - Containe

[2022-10-21 06:18] eahydra commented on #730
/assign

[2022-10-24 03:17] honpey opened #733 "[proposal] KoordRuntimeProxy support both Fail/Ignore FailurePolicyType"
**What is your proposal**:
Currently,  KoordRuntimeProxy supports two kinds FailurePolicyType, including Fail & Ignore.
but only Ignore policy is supported under containerd scenario while only Fail is supported under docker scenario.
KoordRuntimeProxy should support both Fail/Ignore under both containerd and docker scenario.

**Why is this needed**:

**Is there a suggested solution, if so, please

[2022-10-24 03:50] #664 closed

[2022-10-25 06:25] xulinfei1996 opened #739 "[proposal] ClusterColocationProfile's priorityClassName and qosClass should be optional"
**What is your proposal**:
ClusterColocationProfile's priorityClassName and qosClass should be optional
**Why is this needed**:
 In case we only want to change pod's schedulerName, but don't want to change pod's priorityClassName and qosClass.
**Is there a suggested solution, if so, please add it**:

[2022-10-26 07:29] FillZpp commented on #712
/assign @FillZpp @zwzhang0107

This is a general issue and it should be splitted into multiple sub-task issues to track after we have got an agreement on the approach.

[2022-10-26 08:22] lucming opened #743 "[BUG]failed to find kubelet pid when there is not tcp6 in node"
**What happened**:
koordlet will report error when tcp6 is not find in node,and the logs look like this:
`
I1026 16:16:23.894144  292078 shared_informer.go:270] caches populated
I1026 16:16:23.894875  292078 cpu_suppress.go:322] calculated BE suppress policy: cpuset [0 12 6 18 1 13 7 19 2 14 8]
W1026 16:16:23.894902  292078 cpu_suppress.go:502] suppressBECPU failed to apply be cpu suppress policy,

[2022-10-27 06:09] jasonliu747 commented on #743
/assign @lucming

[2022-10-27 06:31] jasonliu747 commented on #678
/close

[2022-10-27 06:31] #678 closed

[2022-10-27 09:00] #743 closed

[2022-10-27 17:17] eahydra commented on #730
/reopen

[2022-10-28 03:19] #665 closed

[2022-10-28 08:57] #657 closed

[2022-10-28 08:59] #739 closed

[2022-10-28 09:36] zwzhang0107 opened #755 "[proposal] move `memory qos` plugin as runtime hook plugin"
**What is your proposal**:
Plugins in qos manager can be classified into two types: static and dynamic.

For dynamic type, pod will be adjusted dynamically according to node running state, such as cpu suppress, cpu burst, memory evict. Dynamic type strategies has been refactored as plugin in https://github.com/koordinator-sh/koordinator/pull/1500.

For static type, advanced parameters like NodeSLO

[2022-10-28 09:36] zwzhang0107 commented on #755
/milestone v1.2
/assign zwzhang0107

[2022-10-28 09:37] zwzhang0107 commented on #755
/area koordlet

[2022-10-28 09:39] zwzhang0107 opened #756 "[proposal] move LLC isolation plugin as runtime hooks plugin"
**What is your proposal**:
Plugins in qos manager can be classified into two types: static and dynamic.

For dynamic type, pod will be adjusted dynamically according to node running state, such as cpu suppress, cpu burst, memory evict. Dynamic type strategies has been refactored as plugin in #1500.

For static type, advanced parameters like NodeSLO will be injected according to pod QoS and Priorit

[2022-10-28 09:40] zwzhang0107 commented on #756
/area koordlet
/assign stormgbs
/milestone v1.1

[2022-10-28 09:41] zwzhang0107 opened #757 "[proposal] move cpu burst plugin to qos-manager"
**What is your proposal**:

**Why is this needed**:

**Is there a suggested solution, if so, please add it**:

[2022-10-28 09:42] zwzhang0107 commented on #757
/area koordlet
/assign zwzhang0107
/milestone v1.2

[2022-10-28 09:42] zwzhang0107 opened #758 "[proposal] move cpu suppress plugin to qos manager"
**What is your proposal**:

**Why is this needed**:

**Is there a suggested solution, if so, please add it**:

[2022-10-28 09:43] zwzhang0107 commented on #758
/area koordlet
/assign ZYecho
/milestone v1.1

[2022-10-28 09:43] zwzhang0107 opened #759 "[proposal] move memory-evict plugin to qos-manager"
**What is your proposal**:

**Why is this needed**:

**Is there a suggested solution, if so, please add it**:

[2022-10-28 09:50] zwzhang0107 commented on #759
/area koordlet
/assign stormgbs
/milestone v1.2

[2022-10-28 09:50] zwzhang0107 opened #760 "[proposal] move cpu-evict plugin to qos-manager"
**What is your proposal**:

**Why is this needed**:

**Is there a suggested solution, if so, please add it**:

[2022-10-28 09:51] zwzhang0107 commented on #760
/area koordlet
/assign jasonliu747
/milestone v1.1

[2022-10-28 09:58] zwzhang0107 commented on #717
/assign zwzhang0107

[2022-10-29 15:07] fjding opened #762 "[question]the elasticquota plugin start when new plugin, master and slave scheduler update quota at the same time?"
**What happened:**
The elasticquota plugin background thread loop will start when New plugin,  but the New Plugin is before leader election.
if scheduler has to pod instance (master and slave), the master and slave while update quota at the same time ?

**What you expected to happen:**

**Environment:**

- Koordinator version: - v0.6.2
- Kubernetes version (use kubectl version): v1.22.5
- docker/c

[2022-11-01 03:37] mrningyang opened #768 "[question]Does the community have any plans to improve the performance of offline scheduling？"
We all know that offline tasks put a lot of pressure on the scheduler，Does  the community have any plans to improve the performance of offline scheduling？

[2022-11-01 06:10] eahydra opened #769 "[proposal] scheduler exports client-go metrics"
**What is your proposal**:

koord-scheduler should export `client-go` metrics to help diagnose analysis problems.

**Why is this needed**:

**Is there a suggested solution, if so, please add it**:

[2022-11-01 06:12] ZiMengSheng commented on #769
/assign ZiMengSheng

[2022-11-01 06:13] eahydra commented on #762
Thanks for feedback on this issue. We are solving this problem.

[2022-11-01 11:39] fjding opened #771 "[BUG]elasticquota when remove node A, then add node A come back, the totalResource will not update"
**What happened**:
elasticquota when remove node A,  then add node A come back,  the  totalResource will not update

caused by:
In OnNodeDelete function not delete node from nodeResourceMapLock

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- App version:
- Kubernetes version (use `kubectl

[2022-11-01 12:51] #670 closed

[2022-11-02 09:09] #762 closed

[2022-11-02 12:02] eahydra commented on #771
Hi @fjding, thanks for your feedback. as we talked, waiting for your fix PR.

[2022-11-02 12:02] eahydra commented on #771
/assign @fjding

[2022-11-02 13:41] #730 closed

[2022-11-03 02:28] jinriyang opened #781 "[proposal] Support network qos"
**What is your proposal**:

Supports network qos
support pod ingress and egress traffic shaping.

**Why is this needed**:

Limiting  offline pod bandwidth to avoid affecting  online service quality.

**Is there a suggested solution, if so, please add it**:

[2022-11-03 02:52] #769 closed

[2022-11-05 12:33] #771 closed

[2022-11-09 09:04] jasonliu747 commented on #527
Invitation has been sent, welcome to this community.

[2022-11-09 09:04] #527 closed

[2022-11-09 09:07] jasonliu747 commented on #525
Invitation has been sent, welcome to this community.

[2022-11-09 09:07] #525 closed

[2022-11-09 09:08] jasonliu747 commented on #435
@codingknees 翻译工作持续进行中，相关进展可参阅 https://github.com/koordinator-sh/website/issues/90

[2022-11-09 10:33] zwzhang0107 commented on #755
consider some container may have ignore_resource property

[2022-11-14 03:38] MercusChan opened #800 "Error on koordlet after installed"
**What happened:**
I followed steps here to install koordinator with helm.
https://koordinator.sh/docs/installation/

But koordlet pod keeps in Error and restart

**What you expected to happen:**
koordlet pod is running

**Environment:**
- Koordinator version: - v1.0.0
- Kubernetes version (use kubectl version): v1.22.16 (also tried in v1.25.4)
- docker/containerd version: docker 20.10.21
- OS (e.

[2022-11-14 12:03] jasonliu747 opened #807 "[proposal] 使用 aggregated apiserver 减少 metric 更新延时"
**What is your proposal**:
1. 建设 slo aggregated apiserver，将原先更新 CRD 与节点的压力转移，以达到减轻 kube-apiserver 压力的效果。
2. 线上资源都是动态超卖的，通过降低更新间隔实现资源实时动态变化。物理机资源信息可以及时更新到调度器，资源可以尽快的调整，作业可以及时增多或者减少。
3. 负载均衡调度依赖 NodeMetric CRD 感知当前集群的热点情况，提高 CR 更新频率，能让调度器在调度过程中计算出更为合理的调度结果。
4.  干扰检测使用的 CPI 等指标，更细的时间粒度可以提高准确性。

**Why is this needed**:
koodlet & slo-controller 目前默认更新时间是 60s，更小的间隔暂时没有测试过数据，主要是考虑混部集群 apiserver 压力较大，所以设置

[2022-11-15 09:23] eahydra opened #815 "[BUG] configured koordlet with kubelet insecure port, koordlet failed to query kubelet configuration"
**What happened**:

Configured koordlet with kubelet insecure port, koordlet failed to query kubelet configuration.

![image](https://user-images.githubusercontent.com/832246/201881026-25a39613-7fc9-49ef-8d59-243487c93f5c.png)

**What you expected to happen**:

Successfully query kubelet configuration or disable the operation but can report CPU Topology

**How to reproduce it (as minimally and pre

[2022-11-15 11:36] saintube commented on #800
@MercusChan Could you please show us your pod's cgroup path? The error message above indicates the PLEG module does not find a proper cgroup path like `/sys/fs/cgroup/cpu/kubepods.slice` (by default, the koordlet mounts the hostpath `/sys/fs/cgroup` into container's `/host-cgroup`).

[2022-11-15 12:50] jasonliu747 commented on #815
/area koordlet
/assign @eahydra

[2022-11-16 01:52] saintube commented on #800
@MercusChan It seems that the cgroups-v2 is enabled in your system, while the koordlet does not support it. Ref #407

[2022-11-16 01:57] saintube commented on #661
I think it is incorrect. I'm not sure if the kubelet also considers this pattern of cgroup paths abnormal.

[2022-11-16 06:43] #815 closed

[2022-11-16 12:53] saintube opened #817 "[BUG] koordlet frequently Gets and Updates NodeResourceTopology"
**What happened**:

The current nodeTopoInformer module of the koordlet Gets and Updates the NodeResourceTopology CR too frequently. It Gets the latest NodeResourceTopology every 3 seconds and Updates the CR even if it keeps unchanged. It causes unnecessary performance overhead and may affect the kube-apiserver when the number of nodes is large.

**What you expected to happen**:

Refactor the node

[2022-11-16 12:53] saintube commented on #817
/area koordlet

[2022-11-17 02:37] jasonliu747 commented on #800
@MercusChan We are working on making koordlet compatible with cgroup v2. For more details, you may check the current proposal at [here](https://github.com/koordinator-sh/koordinator/blob/main/docs/proposals/koordlet/20221018-koordlet-support-cgroups-v2.md).

[2022-11-17 02:37] #800 closed

[2022-11-17 06:11] jasonliu747 commented on #148
/close
duplicate issue

[2022-11-18 02:45] ChaosJu opened #820 "[BUG] If kubelet "cgroupRoot: /kubelet" is set , the cgroup path is constructed incorrectly"
**What happened**:
error log:
pleg.go:  klog.Errorf("failed to watch path %v err %v", cgroupPath, err)

if kubelet set "cgroupRoot: /kubelet"  in config ,  cgroup parse error.

**What you expected to happen**:

cgroup_driver.go  should use Config.CgroupKubePath, not use hard code 'kubepod*"

**How to reproduce it (as minimally and precisely as possible)**:

set  "cgroupRoot: /kubelet"  in kubelet

[2022-11-18 02:59] ChaosJu commented on #820
/area koordlet

[2022-11-18 09:55] zwzhang0107 commented on #820
you can try to modify the host cgroup path if you have customized env
https://github.com/koordinator-sh/charts/blob/main/versions/v1.0.0/templates/koordlet.yaml#L95

[2022-11-18 09:55] zwzhang0107 commented on #696
#774

[2022-11-20 03:57] fjding opened #824 "[proposal]add elastic quota tree crd"
**What is your proposal**:
The current elastic quota supports multi-level management, but it is not convenient to view the multi-level tree, and it is impossible to view the resource configuration from an overall perspective. Therefore, it is possible to define an elastic quota tree crd to despise the global configuration.
**Why is this needed**:

**Is there a suggested solution, if so, please add

[2022-11-20 04:27] penghuazhou opened #825 "[proposal ] modify statefulset request/limit without restarting pod"
**What is your proposal**:
change statefulset request、limit，but not restart pod.

**Why is this needed**:
for statefulset，prevent the long tcp connection directly connected by the client from terminating.

[2022-11-22 02:19] LarryZhangy opened #827 "[proposal] elastic quota 支持对集群的不同节点组做配置"
**What is your proposal**:
一个k8s集群存在不同的节点组：
1）一批节点支持A100 GPU，另一批节点支持A40 GPU
2）一个集群的节点来自不同的zone，每个zone的网络环境，依赖的服务能力不一样
3）一个集群的节点由x86 + ARM组成，期望能区分不同节点

期望elastic quota能对这不同的节点组做资源配额管理，如elastic quota group a，配置使用来自zone a的100 c，来自zone b的10c。

**Why is this needed**:
集群资源是异构的，期望在配置配额时能区别一下。

**Is there a suggested solution, if so, please add it**:
是否能和kueue结合使用？

[2022-11-22 06:58] eahydra opened #828 "[proposal] compatible with k8s descheduler configuration"
**What is your proposal**:

Currently, users configure descheduler policies through the k8s descheduler configuration with version `descheduler/v1alpha1`. We need to be compatible with this configuration in koord-descheduler to facilitate smooth migration to koord-descheduler

[2022-11-22 07:02] eahydra opened #829 "[proposal] Compatible with existing plugins of k8s descheduler"
**What is your proposal**:

The k8s descheduler has some built-in plugins, but koord-descheduler does not support it yet. Compatibility with these plugins is necessary for smooth migration to k8s descheduler.

We can consider migrating the source code, or how to make these plugins compatible through go mod.

plugins:
- [x] #1035
- [x] #1036
- [x] #1037
- [x] #1038
- [x] #1039
- [x] #1040
- [x] #10

[2022-11-23 15:39] eahydra commented on #824
If you want to view the parent-child and brother relationships between Quota, you can consider implementing some tools or managing page viewing. Adding a new CRD to describe the relationship between Quota does not directly solve your problem. Moreover, there is usually only one CRD instance in the cluster, but it will bring additional maintenance costs. More importantly, this method is redundant w

[2022-11-23 15:45] eahydra commented on #768
What types of workloads does "offline task" refer to? This word is relatively abstract. At present, there are some scenarios in K8s that complete some jobs based on pods, so it is considered to optimize the scheduling throughput and delay of pods in the future. However, similar to task scheduling in some Hadoop scenarios, it may not necessarily be necessary to complete the scheduling in the koordi

[2022-11-24 03:57] saintube commented on #407
The Plan of Cgroups-v2 Support:

1. [ ] Refactor Resource Executor module
  - [ ] Refactor CgroupResource
  - [ ] Refactor ResourceUpdater
2. [ ] Compatibility of Koordlet Features
 - [ ] NodeMetric Report
 - [ ] Dynamic Resource Overcommitment
 - [ ] BECgroupReconcile
 - [ ] CgroupReconcile
 - [ ] CPUBurst
 - [ ] CPUSuppress
 - [ ] RdtResctrl
 - [ ] MemoryEvict

[2022-11-24 08:23] zwzhang0107 opened #836 "[proposal] abandon the origin feature `be_reconcile.go` in res-manager"
**What is your proposal**:
delete the feature and file `be_reconcile.go`

**Why is this needed**:
#774 has moved the extend-resource reconciling to runtime-hooks, the origin feature should be abandoned

**Is there a suggested solution, if so, please add it**:

[2022-11-24 08:23] zwzhang0107 commented on #836
/assige saintube
/area koordlet

[2022-11-24 08:24] zwzhang0107 commented on #836
/assign saintube

[2022-11-24 08:52] zwzhang0107 commented on #407
also performance_collector for @songtao98

[2022-11-26 09:32] songtao98 opened #837 "[proposal] CPU schedule latency for Interference Detection"
**What is your proposal**:
We use CPU schedule latency as one of Interference Detection feature's metrics. It is computed as the time duration between syscall `ttwu_do_wakeup()/wakeup_new_task()` and `finish_task_switch()` per task. In the metric collect time-window, a single task's CPU schedule latency is divided by number of context switches as the final value. And in cgroup dimension, the laten

[2022-11-28 02:33] #717 closed

[2022-11-28 06:35] eahydra opened #839 "[BUG] ElasticQuota uses Pod Name as Cache Key"
**What happened**:

The current way the ElasticQuota scheduling plugin uses the pod name as the cache key to track pods is incorrect. The Pod Name is only unique within the Namespace scope, and may be duplicated within the cluster scope.

**What you expected to happen**:

Use Pod UID or Namespace/Name as cache key.

[2022-11-28 06:35] eahydra commented on #839
@xulinfei1996

[2022-11-28 07:06] eahydra opened #840 "[proposal] Improve the readability of the PreFilter error message of the DeviceShare plugin"
**What is your proposal**:

When I created a Pod with resource requests `kubernetes.io/gpu-core=50`, `kubernetes.io/gpu-memory=2Gi`  and  `kubernetes.io/gpu-memory-ratio=50`, I got the PreFilter error like this: `request is not valid, current combination: 010001000` .

This error message cannot be understood intuitively.

**Why is this needed**:

make sense of error messages.

**Is there a suggest

[2022-11-28 07:06] eahydra commented on #840
@jasonliu747

[2022-11-28 07:11] jasonliu747 commented on #840
Totally agree with you. Will improve readability ASAP.
/assign

[2022-11-28 07:55] songtao98 commented on #837
/assign

[2022-11-28 08:07] songtao98 opened #842 "[proposal] New repo: External Metrics Advisor for better extensibility"
**What is your proposal**:
Enlighted by encapsulating the eBPF program of the CPU schedule latency collector into a separate tool, we noticed that Koordinator may develop a new sub-repo named External Metrics Advisor. This sub-project covers many underlying kernel metrics collection tools implemented with eBPF technology or others, and expands Koordinator's ability to collect metrics in the form o

[2022-11-28 08:07] songtao98 commented on #842
/assign

[2022-11-28 09:17] eahydra commented on #839
/assign @xulinfei1996

[2022-11-28 09:19] saintube commented on #842
/area koordlet

[2022-11-28 12:07] eahydra commented on #314
/assign

[2022-11-29 06:51] eahydra opened #846 "[proposal] scheduler support filter logs"
**What is your proposal**:

When Pod scheduling fails, there is currently no good way to quickly diagnose why Pods cannot be scheduled to certain nodes. It is best to support printing out Filter error results when diagnostic analysis is required.

**Is there a suggested solution, if so, please add it**:

1. We can implement `RunFilterPlugins` in `frameworkExtenderImpl`, logs the filter statuses.
2

[2022-11-29 06:52] eahydra commented on #846
/assign @ZiMengSheng

[2022-11-30 03:04] #839 closed

[2022-11-30 03:35] #846 closed

[2022-11-30 03:53] FillZpp commented on #733
Supported feature.
/close

[2022-11-30 03:53] #733 closed